# 1. Exploring Data

In [1]:
import numpy as np 
import pandas as pd

In [2]:
path='https://raw.githubusercontent.com/Hamid-abdellaoui/Morocco_Exchange_VIZ/master/Data/ExportData.csv'
dataframe = pd.read_csv(path,sep=';',decimal=',')
dataframe.head()

C:\Users\hp\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4,6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Code du groupement d'utilisation,Libell√© du groupement d'utilisation,Code du nouveau produits remarquables,Libell√© du nouveau produits remarquables,Code de la section CTCI,Libell√© de la section CTCI,Code de la division CTCI,Libell√© de la division CTCI,Code du groupe CTCI,Libell√© du groupe CTCI,...,Valeur DHS Septembre 2020,Valeur DHS Octobre 2020,Valeur DHS Novembre 2020,Valeur DHS D√©cembre 2020,Valeur DHS Janvier 2021,Valeur DHS F√©vrier 2021,Valeur DHS Mars 2021,Valeur DHS Avril 2021,Valeur DHS Mai 2021,Valeur DHS Juin 2021
0,1,"ALIMENTATION, BOISSONS ET TABACS",101,AGRUMES,0,PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,5,L√âGUMES ET FRUITS,57,"FRUITS, M√äME √Ä COQUE (√Ä L¬øEXCLUSION DES FRUITS...",...,0.0,0.0,96200.0,0.000,0.000,0.0,0.0,0.0,0.0,0.0
1,1,"ALIMENTATION, BOISSONS ET TABACS",101,AGRUMES,0,PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,5,L√âGUMES ET FRUITS,57,"FRUITS, M√äME √Ä COQUE (√Ä L¬øEXCLUSION DES FRUITS...",...,0.0,0.0,0.0,0.000,652186.000,1176807.8,192400.0,0.0,0.0,0.0
2,1,"ALIMENTATION, BOISSONS ET TABACS",101,AGRUMES,0,PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,5,L√âGUMES ET FRUITS,57,"FRUITS, M√äME √Ä COQUE (√Ä L¬øEXCLUSION DES FRUITS...",...,0.0,275664.0,1321247.0,168350.000,288363.000,0.0,245592.0,0.0,0.0,0.0
3,1,"ALIMENTATION, BOISSONS ET TABACS",101,AGRUMES,0,PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,5,L√âGUMES ET FRUITS,57,"FRUITS, M√äME √Ä COQUE (√Ä L¬øEXCLUSION DES FRUITS...",...,0.0,0.0,0.0,1872443.446,7238766.578,0.0,0.0,0.0,1056352.0,2.0
4,1,"ALIMENTATION, BOISSONS ET TABACS",102,"AMIDONS,GLUTEN DE FROMENT ET D√âRIV√âS",5,"PRODUITS CHIMIQUES ET PRODUITS CONNEXES, N.D.A.",59,"MATI√àRES ET PRODUITS CHIMIQUES, N.D.A.",592,"AMIDONS ET F√âCULES, INULINE ET GLUTEN DE FROME...",...,18979.0,15273.0,0.0,0.000,0.000,121193.0,0.0,0.0,0.0,0.0

In [3]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61651 entries, 0 to 61650
Data columns (total 56 columns):
Code du groupement d'utilisation            61651 non-null int64
Libell√© du groupement d'utilisation         61651 non-null object
Code du nouveau produits remarquables       61651 non-null int64
Libell√© du nouveau produits remarquables    61651 non-null object
Code de la section CTCI                     61651 non-null object
Libell√© de la section CTCI                  61651 non-null object
Code de la division CTCI                    61651 non-null object
Libell√© de la division CTCI                 61649 non-null object
Code du groupe CTCI                         61651 non-null object
Libell√© du groupe CTCI                      61649 non-null object
Continent                                   61651 non-null object
Libell√© du pays                             61651 non-null object
Code du flux                                61651 non-null int64
Libell√© du flux                             61651 non-null object
Valeur DHS Janvier 2018                     61651 non-null float64
Valeur DHS F√©vrier 2018                     61651 non-null float64
Valeur DHS Mars 2018                        61651 non-null float64
Valeur DHS Avril 2018                       61651 non-null float64
Valeur DHS Mai 2018                         61651 non-null float64
Valeur DHS Juin 2018                        61651 non-null float64
Valeur DHS Juillet 2018                     61651 non-null float64
Valeur DHS Aout 2018                        61651 non-null float64
Valeur DHS Septembre 2018                   61651 non-null float64
Valeur DHS Octobre 2018                     61651 non-null float64
Valeur DHS Novembre 2018                    61651 non-null float64
Valeur DHS D√©cembre 2018                    61651 non-null float64
Valeur DHS Janvier 2019                     61651 non-null float64
Valeur DHS F√©vrier 2019                     61651 non-null float64
Valeur DHS Mars 2019                        61651 non-null float64
Valeur DHS Avril 2019                       61651 non-null float64
Valeur DHS Mai 2019                         61651 non-null float64
Valeur DHS Juin 2019                        61651 non-null float64
Valeur DHS Juillet 2019                     61651 non-null float64
Valeur DHS Aout 2019                        61651 non-null float64
Valeur DHS Septembre 2019                   61651 non-null float64
Valeur DHS Octobre 2019                     61651 non-null float64
Valeur DHS Novembre 2019                    61651 non-null float64
Valeur DHS D√©cembre 2019                    61651 non-null float64
Valeur DHS Janvier 2020                     61651 non-null float64
Valeur DHS F√©vrier 2020                     61651 non-null float64
Valeur DHS Mars 2020                        61651 non-null float64
Valeur DHS Avril 2020                       61651 non-null float64
Valeur DHS Mai 2020                         61651 non-null float64
Valeur DHS Juin 2020                        61651 non-null float64
Valeur DHS Juillet 2020                     61651 non-null float64
Valeur DHS Aout 2020                        61651 non-null float64
Valeur DHS Septembre 2020                   61651 non-null float64
Valeur DHS Octobre 2020                     61651 non-null float64
Valeur DHS Novembre 2020                    61651 non-null float64
Valeur DHS D√©cembre 2020                    61651 non-null float64
Valeur DHS Janvier 2021                     61651 non-null float64
Valeur DHS F√©vrier 2021                     61651 non-null float64
Valeur DHS Mars 2021                        61651 non-null float64
Valeur DHS Avril 2021                       61651 non-null float64
Valeur DHS Mai 2021                         61651 non-null float64
Valeur DHS Juin 2021                        61651 non-null float64
dtypes: float64(42), int64(3), object(11)
memory usage: 26.3+ MB

# 2. Handling  missing values

In [4]:
dataframe.isnull().sum()

Code du groupement d'utilisation            0
Libell√© du groupement d'utilisation         0
Code du nouveau produits remarquables       0
Libell√© du nouveau produits remarquables    0
Code de la section CTCI                     0
Libell√© de la section CTCI                  0
Code de la division CTCI                    0
Libell√© de la division CTCI                 2
Code du groupe CTCI                         0
Libell√© du groupe CTCI                      2
Continent                                   0
Libell√© du pays                             0
Code du flux                                0
Libell√© du flux                             0
Valeur DHS Janvier 2018                     0
Valeur DHS F√©vrier 2018                     0
Valeur DHS Mars 2018                        0
Valeur DHS Avril 2018                       0
Valeur DHS Mai 2018                         0
Valeur DHS Juin 2018                        0
Valeur DHS Juillet 2018                     0
Valeur DHS Aout 2018                        0
Valeur DHS Septembre 2018                   0
Valeur DHS Octobre 2018                     0
Valeur DHS Novembre 2018                    0
Valeur DHS D√©cembre 2018                    0
Valeur DHS Janvier 2019                     0
Valeur DHS F√©vrier 2019                     0
Valeur DHS Mars 2019                        0
Valeur DHS Avril 2019                       0
Valeur DHS Mai 2019                         0
Valeur DHS Juin 2019                        0
Valeur DHS Juillet 2019                     0
Valeur DHS Aout 2019                        0
Valeur DHS Septembre 2019                   0
Valeur DHS Octobre 2019                     0
Valeur DHS Novembre 2019                    0
Valeur DHS D√©cembre 2019                    0
Valeur DHS Janvier 2020                     0
Valeur DHS F√©vrier 2020                     0
Valeur DHS Mars 2020                        0
Valeur DHS Avril 2020                       0
Valeur DHS Mai 2020                         0
Valeur DHS Juin 2020                        0
Valeur DHS Juillet 2020                     0
Valeur DHS Aout 2020                        0
Valeur DHS Septembre 2020                   0
Valeur DHS Octobre 2020                     0
Valeur DHS Novembre 2020                    0
Valeur DHS D√©cembre 2020                    0
Valeur DHS Janvier 2021                     0
Valeur DHS F√©vrier 2021                     0
Valeur DHS Mars 2021                        0
Valeur DHS Avril 2021                       0
Valeur DHS Mai 2021                         0
Valeur DHS Juin 2021                        0
dtype: int64


‚ñ∂ **Pour** *Libell√© de la division CTCI* **et** *Libell√© du groupe CTCI* <br>
> On va remplacer les valeurs manquantes manuellement √† l'aide des colonnes Code correspondant

In [5]:
#qui sont les indices des valeures manquantes
print('pour la variable: Libell√© du groupe CTCI :\t \t',dataframe[dataframe['Libell√© du groupe CTCI'].isnull()].index.tolist(),
      '\npour la variable: Libell√© de la division CTCI :\t\t',dataframe[dataframe['Libell√© de la division CTCI'].isnull()].index.tolist())

pour la variable: Libell√© du groupe CTCI :	 	 [5186, 5969]
pour la variable: Libell√© de la division CTCI :		 [5186, 5969]

In [6]:
#checking what's happening there
print(dataframe['Libell√© du groupe CTCI'][5186],dataframe['Code du groupe CTCI'][5186],'\n',
      dataframe['Libell√© du groupe CTCI'][5969],dataframe['Code du groupe CTCI'][5969])

nan 34
 nan 34

In [7]:
print(dataframe['Libell√© de la division CTCI'][5186],dataframe['Code de la division CTCI'][5186],'\n',
      dataframe['Libell√© de la division CTCI'][5969],dataframe['Code de la division CTCI'][5969])

nan 3
 nan 3

In [8]:
c,i=0,70
while(c<=6):
  i+=1
  if i !=5969 and i != 5186:
    if dataframe['Code du groupe CTCI'][i]==34:
      dataframe['Libell√© du groupe CTCI'][5186]=dataframe['Libell√© du groupe CTCI'][i]
      dataframe['Libell√© du groupe CTCI'][5969]=dataframe['Libell√© du groupe CTCI'][i]
      c+=1
    if dataframe['Code de la division CTCI'][i]==3:
      dataframe['Libell√© de la division CTCI'][5186]=dataframe['Libell√© de la division CTCI'][i]
      dataframe['Libell√© de la division CTCI'][5969]=dataframe['Libell√© de la division CTCI'][i]
      c+=1

C:\Users\hp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\hp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\hp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [9]:
dataframe.isnull().sum().sum()

0

üéâü•≥ NOIICE , no more missing values

Let's delete now some useless columns (the columns of code ...)

In [10]:
dataframe.drop(dataframe.columns[[0,2,3,4,6,8,12]],1, inplace=True)

voici la form de notre base de donn√©es

In [11]:
dataframe.columns

Index(['Libell√© du groupement d'utilisation', 'Libell√© de la section CTCI',
       'Libell√© de la division CTCI', 'Libell√© du groupe CTCI', 'Continent',
       'Libell√© du pays', 'Libell√© du flux', 'Valeur DHS Janvier 2018',
       'Valeur DHS F√©vrier 2018', 'Valeur DHS Mars 2018',
       'Valeur DHS Avril 2018', 'Valeur DHS Mai 2018', 'Valeur DHS Juin 2018',
       'Valeur DHS Juillet 2018', 'Valeur DHS Aout 2018',
       'Valeur DHS Septembre 2018', 'Valeur DHS Octobre 2018',
       'Valeur DHS Novembre 2018', 'Valeur DHS D√©cembre 2018',
       'Valeur DHS Janvier 2019', 'Valeur DHS F√©vrier 2019',
       'Valeur DHS Mars 2019', 'Valeur DHS Avril 2019', 'Valeur DHS Mai 2019',
       'Valeur DHS Juin 2019', 'Valeur DHS Juillet 2019',
       'Valeur DHS Aout 2019', 'Valeur DHS Septembre 2019',
       'Valeur DHS Octobre 2019', 'Valeur DHS Novembre 2019',
       'Valeur DHS D√©cembre 2019', 'Valeur DHS Janvier 2020',
       'Valeur DHS F√©vrier 2020', 'Valeur DHS Mars 2020',
       'Valeur DHS Avril 2020', 'Valeur DHS Mai 2020', 'Valeur DHS Juin 2020',
       'Valeur DHS Juillet 2020', 'Valeur DHS Aout 2020',
       'Valeur DHS Septembre 2020', 'Valeur DHS Octobre 2020',
       'Valeur DHS Novembre 2020', 'Valeur DHS D√©cembre 2020',
       'Valeur DHS Janvier 2021', 'Valeur DHS F√©vrier 2021',
       'Valeur DHS Mars 2021', 'Valeur DHS Avril 2021', 'Valeur DHS Mai 2021',
       'Valeur DHS Juin 2021'],
      dtype='object')

# 3. Extraction de sous base de donn√©es

> ### ‚úî Flux & countries

In [12]:
new_df=dataframe[dataframe.columns[5:]]
new_df.to_csv('new_df.csv',index=False)
new_df.head()

,Libell√© du pays,Libell√© du flux,Valeur DHS Janvier 2018,Valeur DHS F√©vrier 2018,Valeur DHS Mars 2018,Valeur DHS Avril 2018,Valeur DHS Mai 2018,Valeur DHS Juin 2018,Valeur DHS Juillet 2018,Valeur DHS Aout 2018,...,Valeur DHS Septembre 2020,Valeur DHS Octobre 2020,Valeur DHS Novembre 2020,Valeur DHS D√©cembre 2020,Valeur DHS Janvier 2021,Valeur DHS F√©vrier 2021,Valeur DHS Mars 2021,Valeur DHS Avril 2021,Valeur DHS Mai 2021,Valeur DHS Juin 2021
0,CONGO,Exportations FAB,70020.000,168350.000,0.000,0.0,0.000,0.0,0.0,0.0,...,0.0,0.0,96200.0,0.000,0.000,0.0,0.0,0.0,0.0,0.0
1,NIGERIA,Exportations FAB,425387.000,161192.500,0.000,62437.5,0.000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000,652186.000,1176807.8,192400.0,0.0,0.0,0.0
2,KAZAKHSTAN,Exportations FAB,108225.000,0.000,0.000,0.0,0.000,0.0,0.0,0.0,...,0.0,275664.0,1321247.0,168350.000,288363.000,0.0,245592.0,0.0,0.0,0.0
3,ITALIE,Exportations FAB,5636520.434,2573814.994,852133.806,0.0,2633496.431,0.0,178650.0,377795.0,...,0.0,0.0,0.0,1872443.446,7238766.578,0.0,0.0,0.0,1056352.0,2.0
4,CANADA,Exportations FAB,0.000,0.000,0.000,0.0,36393.000,0.0,0.0,0.0,...,18979.0,15273.0,0.0,0.000,0.000,121193.0,0.0,0.0,0.0,0.0

In [13]:
flux=new_df.groupby(['Libell√© du pays','Libell√© du flux']).sum()
flux=flux.transpose()
#flux['Date']=pd.date_range(start='2018-01-01', periods=42,freq='M')
flux.set_index(pd.date_range(start='2018-01-01', periods=42,freq='M'),inplace=True)
flux.head()

Libell√© du pays      AFGHANISTAN                   \
Libell√© du flux Exportations FAB Importations CAF
2018-01-31                   0.0              0.0
2018-02-28                   0.0              0.0
2018-03-31             1075705.0              0.0
2018-04-30                   0.0              0.0
2018-05-31                   0.0          25371.0

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  sans paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays                                                                                           \
Libell√© du flux R√©exportations en suite d'admission temporaire pour perfectionnement actif avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                819385.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays   AFRIQUE DU SUD                   \
Libell√© du flux Exportations FAB Importations CAF
2018-01-31          2.963012e+07     1.143497e+08
2018-02-28          2.168777e+07     1.778038e+08
2018-03-31          3.342333e+07     3.289373e+07
2018-04-30          2.078962e+07     5.505742e+07
2018-05-31          4.081473e+07     4.519970e+07

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  avec paiement
2018-01-31                                               2203468.0
2018-02-28                                              52803495.0
2018-03-31                                              24985665.0
2018-04-30                                              30476224.0
2018-05-31                                              25647291.0

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  sans paiement
2018-01-31                                                199456.0
2018-02-28                                                 68023.0
2018-03-31                                                250694.0
2018-04-30                                                585773.0
2018-05-31                                                484073.0

Libell√© du pays                                                                                           \
Libell√© du flux R√©exportations en suite d'admission temporaire pour perfectionnement actif avec paiement
2018-01-31                                             7816646.000
2018-02-28                                             3386914.600
2018-03-31                                             6107447.105
2018-04-30                                             7242430.000
2018-05-31                                             5504645.730

Libell√© du pays  ...  \
Libell√© du flux  ...
2018-01-31       ...
2018-02-28       ...
2018-03-31       ...
2018-04-30       ...
2018-05-31       ...

Libell√© du pays                                                                                    YEMEN  \
Libell√© du flux R√©exportations en suite d'admission temporaire pour perfectionnement actif sans paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays     YOUGOUSLAVIE                            ZAMBIE  \
Libell√© du flux Exportations FAB Importations CAF Exportations FAB
2018-01-31                   0.0              0.0              0.0
2018-02-28                   0.0              0.0              0.0
2018-03-31                   0.0              0.0          53412.0
2018-04-30                   0.0           5011.0          84380.0
2018-05-31                   0.0           1000.0              0.0

Libell√© du pays                   \
Libell√© du flux Importations CAF
2018-01-31             1413261.0
2018-02-28                   0.0
2018-03-31             6808168.0
2018-04-30                   0.0
2018-05-31                6521.0

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                               6808168.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays                                                                                           \
Libell√© du flux R√©exportations en suite d'admission temporaire pour perfectionnement actif avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays         ZIMBABWE                   \
Libell√© du flux Exportations FAB Importations CAF
2018-01-31                   0.0             21.0
2018-02-28                   0.0              0.0
2018-03-31              378119.0              0.0
2018-04-30                   0.0              0.0
2018-05-31                   0.0          58003.0

Libell√© du pays
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

[5 rows x 985 columns]

In [14]:
flux.isnull().sum().sum()

0

> ### ‚úî Groupement d'utilisation

In [15]:
dataframe['Valeur Total']=dataframe[dataframe.columns[7:]].sum(axis=1)
dataframe.head(1)

,Libell√© du groupement d'utilisation,Libell√© de la section CTCI,Libell√© de la division CTCI,Libell√© du groupe CTCI,Continent,Libell√© du pays,Libell√© du flux,Valeur DHS Janvier 2018,Valeur DHS F√©vrier 2018,Valeur DHS Mars 2018,...,Valeur DHS Octobre 2020,Valeur DHS Novembre 2020,Valeur DHS D√©cembre 2020,Valeur DHS Janvier 2021,Valeur DHS F√©vrier 2021,Valeur DHS Mars 2021,Valeur DHS Avril 2021,Valeur DHS Mai 2021,Valeur DHS Juin 2021,Valeur Total
0,"ALIMENTATION, BOISSONS ET TABACS",PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,L√âGUMES ET FRUITS,"FRUITS, M√äME √Ä COQUE (√Ä L¬øEXCLUSION DES FRUITS...",AFRIQUE,CONGO,Exportations FAB,70020.0,168350.0,0.0,...,0.0,96200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1007201.5

In [16]:
Export_total=dataframe[dataframe.columns[:7]]
Export_total['Total dh']=dataframe['Valeur Total']
Export_total.to_csv('Export_total.csv', index=False)
Export_total.head(2)

C:\Users\hp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Libell√© du groupement d'utilisation,Libell√© de la section CTCI,Libell√© de la division CTCI,Libell√© du groupe CTCI,Continent,Libell√© du pays,Libell√© du flux,Total dh
0,"ALIMENTATION, BOISSONS ET TABACS",PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,L√âGUMES ET FRUITS,"FRUITS, M√äME √Ä COQUE (√Ä L¬øEXCLUSION DES FRUITS...",AFRIQUE,CONGO,Exportations FAB,1007201.5
1,"ALIMENTATION, BOISSONS ET TABACS",PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,L√âGUMES ET FRUITS,"FRUITS, M√äME √Ä COQUE (√Ä L¬øEXCLUSION DES FRUITS...",AFRIQUE,NIGERIA,Exportations FAB,3858549.8

In [17]:
flux=new_df.groupby(['Libell√© du pays','Libell√© du flux']).sum()
flux=flux.transpose()
flux.set_index(pd.date_range(start='2018-01-01', periods=42,freq='M'),inplace=True)
flux.head()

Libell√© du pays      AFGHANISTAN                   \
Libell√© du flux Exportations FAB Importations CAF
2018-01-31                   0.0              0.0
2018-02-28                   0.0              0.0
2018-03-31             1075705.0              0.0
2018-04-30                   0.0              0.0
2018-05-31                   0.0          25371.0

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  sans paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays                                                                                           \
Libell√© du flux R√©exportations en suite d'admission temporaire pour perfectionnement actif avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                819385.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays   AFRIQUE DU SUD                   \
Libell√© du flux Exportations FAB Importations CAF
2018-01-31          2.963012e+07     1.143497e+08
2018-02-28          2.168777e+07     1.778038e+08
2018-03-31          3.342333e+07     3.289373e+07
2018-04-30          2.078962e+07     5.505742e+07
2018-05-31          4.081473e+07     4.519970e+07

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  avec paiement
2018-01-31                                               2203468.0
2018-02-28                                              52803495.0
2018-03-31                                              24985665.0
2018-04-30                                              30476224.0
2018-05-31                                              25647291.0

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  sans paiement
2018-01-31                                                199456.0
2018-02-28                                                 68023.0
2018-03-31                                                250694.0
2018-04-30                                                585773.0
2018-05-31                                                484073.0

Libell√© du pays                                                                                           \
Libell√© du flux R√©exportations en suite d'admission temporaire pour perfectionnement actif avec paiement
2018-01-31                                             7816646.000
2018-02-28                                             3386914.600
2018-03-31                                             6107447.105
2018-04-30                                             7242430.000
2018-05-31                                             5504645.730

Libell√© du pays  ...  \
Libell√© du flux  ...
2018-01-31       ...
2018-02-28       ...
2018-03-31       ...
2018-04-30       ...
2018-05-31       ...

Libell√© du pays                                                                                    YEMEN  \
Libell√© du flux R√©exportations en suite d'admission temporaire pour perfectionnement actif sans paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays     YOUGOUSLAVIE                            ZAMBIE  \
Libell√© du flux Exportations FAB Importations CAF Exportations FAB
2018-01-31                   0.0              0.0              0.0
2018-02-28                   0.0              0.0              0.0
2018-03-31                   0.0              0.0          53412.0
2018-04-30                   0.0           5011.0          84380.0
2018-05-31                   0.0           1000.0              0.0

Libell√© du pays                   \
Libell√© du flux Importations CAF
2018-01-31             1413261.0
2018-02-28                   0.0
2018-03-31             6808168.0
2018-04-30                   0.0
2018-05-31                6521.0

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                               6808168.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays                                                                                           \
Libell√© du flux R√©exportations en suite d'admission temporaire pour perfectionnement actif avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays         ZIMBABWE                   \
Libell√© du flux Exportations FAB Importations CAF
2018-01-31                   0.0             21.0
2018-02-28                   0.0              0.0
2018-03-31              378119.0              0.0
2018-04-30                   0.0              0.0
2018-05-31                   0.0          58003.0

Libell√© du pays
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

[5 rows x 985 columns]

### Les cat√©gories des produits les plus import√©s

In [18]:
utilisation_import=Export_total[(Export_total["Libell√© du flux"]=="Importations CAF")].groupby(["Libell√© du groupement d'utilisation"]).sum().sort_values('Total dh', ascending=False)
utilisation_import

                                                  Total dh
Libell√© du groupement d'utilisation
PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        4.107154e+11
PRODUITS FINIS DE CONSOMMATION                3.769233e+11
DEMI  PRODUITS                                3.534150e+11
ENERGIE  ET  LUBRIFIANTS                      2.403281e+11
ALIMENTATION, BOISSONS ET TABACS              1.809376e+11
PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  4.544973e+10
PRODUITS BRUTS D'ORIGINE MINERALE             3.395411e+10
PRODUITS FINIS D'EQUIPEMENT AGRICOLE          6.425468e+09
OR INDUSTRIEL                                 5.861206e+08

### Les cat√©gories des produits les plus export√©s

In [19]:
utilisation_export=Export_total[(Export_total["Libell√© du flux"]=="Exportations FAB")].groupby(["Libell√© du groupement d'utilisation"]).sum().sort_values('Total dh', ascending=False)
utilisation_export

                                                  Total dh
Libell√© du groupement d'utilisation
PRODUITS FINIS DE CONSOMMATION                2.874920e+11
DEMI  PRODUITS                                2.138336e+11
ALIMENTATION, BOISSONS ET TABACS              1.998778e+11
PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        1.955631e+11
PRODUITS BRUTS D'ORIGINE MINERALE             4.726345e+10
PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  2.058247e+10
ENERGIE  ET  LUBRIFIANTS                      9.379041e+09
OR INDUSTRIEL                                 1.614490e+09
PRODUITS FINIS D'EQUIPEMENT AGRICOLE          4.900290e+08

### Les plus grands exportateurs

In [20]:
Export_total[(Export_total["Libell√© du flux"]=="Exportations FAB")].groupby(["Libell√© du pays"]).sum().sort_values('Total dh', ascending=False)

                                           Total dh
Libell√© du pays
ESPAGNE                                2.322271e+11
FRANCE                                 2.138473e+11
ITALIE                                 4.282756e+10
ETATS-UNIS                             3.799372e+10
INDE                                   3.544411e+10
...                                             ...
SAINT-MARIN                            6.476500e+04
REPUBLIQUE DEMOCRATIQUE POPULAIRE LAO  4.800000e+04
GUERNESEY                              2.968900e+04
ILES MARSHALL                          2.481219e+04
SAINT-MARTIN (PARTIE NEERLANDAISE)     2.800000e+02

[207 rows x 1 columns]

### Les plus grands importateurs

In [21]:
Export_total[(Export_total["Libell√© du flux"]=="Importations CAF")].groupby(["Libell√© du pays"]).sum().sort_values('Total dh', ascending=False)

                                                  Total dh
Libell√© du pays
ESPAGNE                                       2.577609e+11
FRANCE                                        1.961763e+11
CHINE                                         1.774249e+11
ETATS-UNIS                                    1.172501e+11
ITALIE                                        8.922057e+10
...                                                    ...
ILES MINEURES ELOIGNEES DES ETATS-UNIS        2.239000e+03
ILES CAIMANES                                 1.505000e+03
SAINTE-HELENE, ASCENSION ET TRISTAN DA CUNHA  1.460000e+03
ETATS FEDERES DE MICRONESIE                   1.052000e+03
TERRITOIRE BRITANNIQUE DE L'OCEAN INDIEN      2.000000e+00

[214 rows x 1 columns]

### Continents de plus grande importations

In [22]:
Export_total[(Export_total["Libell√© du flux"]=="Exportations FAB")].groupby(["Continent"]).sum().sort_values('Total dh', ascending=False)

               Total dh
Continent
EUROPE     6.873717e+11
ASIE       9.723499e+10
AMERIQUE   9.704009e+10
AFRIQUE    7.800902e+10
AUTRE      1.427801e+10
AUSTRALIE  2.162062e+09

### Continents de plus grande exportations

In [23]:
Export_total[(Export_total["Libell√© du flux"]=="Importations CAF")].groupby(["Continent"]).sum().sort_values('Total dh', ascending=False)

               Total dh
Continent
EUROPE     1.045050e+12
ASIE       3.438313e+11
AMERIQUE   1.931039e+11
AFRIQUE    5.993265e+10
AUTRE      4.488825e+09
AUSTRALIE  2.328250e+09

### donn√©es  d'importations et exportations annueles

In [24]:
annual=pd.read_csv('https://raw.githubusercontent.com/Hamid-abdellaoui/Morocco_Exchange_VIZ/master/Data/Annual.csv',sep=';',decimal=',')
annual.head()

,Code du pays,Libell√© du pays,Code du flux,Libell√© du flux,Valeur DHS 2010,Valeur DHS 2011,Valeur DHS 2012,Valeur DHS 2013,Valeur DHS 2014,Valeur DHS 2015,Valeur DHS 2016,Valeur DHS 2017,Valeur DHS 2018,Valeur DHS 2019,Valeur DHS 2020,Valeur DHS 2021,Unnamed: 16
0,NaN,NaN,141,Importations en admission temporaire pour perf...,0,0.0,0.000,0.000,0.00,0.000,0.000,4.000,0.000,0.000,0.000,0.000,NaN
1,NaN,NaN,14,Importations CAF,0,0.0,0.000,0.000,0.00,0.000,0.000,5.000,0.000,0.000,0.000,0.000,NaN
2,AD,ANDORRE,24,Exportations FAB,17000,0.0,1132030.866,3086862.405,6370835.38,7754181.694,7308319.716,5987804.994,6375642.244,6127175.242,3778609.465,605967.931,NaN
3,AD,ANDORRE,241,R√©exportations en suite d'admission temporaire...,0,0.0,0.000,2324293.765,5544210.38,7337091.984,7308319.716,5987804.994,6340370.244,6127175.242,3736763.555,605967.931,NaN
4,AD,ANDORRE,242,R√©exportations en suite d'admission temporaire...,0,0.0,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,41845.910,0.000,NaN

In [25]:
annual.drop(['Unnamed: 16','Valeur DHS 2021'],1,inplace=True)
annual.head()

,Code du pays,Libell√© du pays,Code du flux,Libell√© du flux,Valeur DHS 2010,Valeur DHS 2011,Valeur DHS 2012,Valeur DHS 2013,Valeur DHS 2014,Valeur DHS 2015,Valeur DHS 2016,Valeur DHS 2017,Valeur DHS 2018,Valeur DHS 2019,Valeur DHS 2020
0,NaN,NaN,141,Importations en admission temporaire pour perf...,0,0.0,0.000,0.000,0.00,0.000,0.000,4.000,0.000,0.000,0.000
1,NaN,NaN,14,Importations CAF,0,0.0,0.000,0.000,0.00,0.000,0.000,5.000,0.000,0.000,0.000
2,AD,ANDORRE,24,Exportations FAB,17000,0.0,1132030.866,3086862.405,6370835.38,7754181.694,7308319.716,5987804.994,6375642.244,6127175.242,3778609.465
3,AD,ANDORRE,241,R√©exportations en suite d'admission temporaire...,0,0.0,0.000,2324293.765,5544210.38,7337091.984,7308319.716,5987804.994,6340370.244,6127175.242,3736763.555
4,AD,ANDORRE,242,R√©exportations en suite d'admission temporaire...,0,0.0,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,41845.910

In [26]:
annual.isnull().sum()

Code du pays        8
Libell√© du pays     2
Code du flux        0
Libell√© du flux     0
Valeur DHS 2010     0
Valeur DHS 2011     3
Valeur DHS 2012     0
Valeur DHS 2013    18
Valeur DHS 2014     0
Valeur DHS 2015     0
Valeur DHS 2016     0
Valeur DHS 2017     0
Valeur DHS 2018     0
Valeur DHS 2019     0
Valeur DHS 2020     0
dtype: int64

In [27]:
annual.drop(0, inplace=True)
annual.drop(1, inplace=True)

In [28]:
 for i in annual[annual['Valeur DHS 2011'].isnull()].index.tolist():print(annual.iloc[[i]])

    Code du pays Libell√© du pays  Code du flux   Libell√© du flux  \
173           BW        BOTSWANA            24  Exportations FAB

     Valeur DHS 2010  Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  \
173                0          26850.0              0.0              0.0

     Valeur DHS 2014  Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  \
173          20413.0              0.0           5382.0         452457.0

     Valeur DHS 2018  Valeur DHS 2019  Valeur DHS 2020
173        1236845.0        1065021.0        1737912.0
     Code du pays Libell√© du pays  Code du flux   Libell√© du flux  \
1104           TJ     TADJIKISTAN            14  Importations CAF

      Valeur DHS 2010  Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  \
1104             3927       15027335.0              0.0              0.0

      Valeur DHS 2014  Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  \
1104              0.0         746651.0         297801.0         488347.0

      Valeur DHS 2018  Valeur DHS 2019  Valeur DHS 2020
1104            306.0          59572.0        1035760.0
     Code du pays                       Libell√© du pays  Code du flux  \
1194           VE  REPUBLIQUE BOLIVARIENNE DU VENEZUELA            24

       Libell√© du flux  Valeur DHS 2010  Valeur DHS 2011  Valeur DHS 2012  \
1194  Exportations FAB        156088177      175287002.0     2.172116e+08

      Valeur DHS 2013  Valeur DHS 2014  Valeur DHS 2015  Valeur DHS 2016  \
1194     1.486397e+08      126099430.0     2.167808e+08     1.150982e+08

      Valeur DHS 2017  Valeur DHS 2018  Valeur DHS 2019  Valeur DHS 2020
1194     1.868805e+08     7.710668e+07        5793949.0       11211915.0

In [29]:
for i in annual[annual['Valeur DHS 2013'].isnull()].index.tolist():print(annual.iloc[[i]])

   Code du pays Libell√© du pays  Code du flux  \
16           AF     AFGHANISTAN           142

                                      Libell√© du flux  Valeur DHS 2010  \
16  Importations en admission temporaire pour perf...             9112

    Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  Valeur DHS 2014  \
16              0.0          13552.0              0.0              0.0

    Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  Valeur DHS 2018  \
16              0.0              0.0              0.0              0.0

    Valeur DHS 2019  Valeur DHS 2020
16           2888.0              0.0
   Code du pays Libell√© du pays  Code du flux  \
83           AW           ARUBA           241

                                      Libell√© du flux  Valeur DHS 2010  \
83  R√©exportations en suite d'admission temporaire...                0

    Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  Valeur DHS 2014  \
83              0.0              0.0              0.0              0.0

    Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  Valeur DHS 2018  \
83              0.0              0.0              0.0              0.0

    Valeur DHS 2019  Valeur DHS 2020
83          66723.0              0.0
    Code du pays Libell√© du pays  Code du flux   Libell√© du flux  \
143           BM        BERMUDES            14  Importations CAF

     Valeur DHS 2010  Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  \
143                0              0.0       26540816.0              0.0

     Valeur DHS 2014  Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  \
143              0.0         137214.0         628254.0              0.0

     Valeur DHS 2018  Valeur DHS 2019  Valeur DHS 2020
143           4810.0           1580.0           1458.0
    Code du pays    Libell√© du pays  Code du flux  \
146           BN  BRUNEI DARUSSALAM           142

                                       Libell√© du flux  Valeur DHS 2010  \
146  Importations en admission temporaire pour perf...                0

     Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  Valeur DHS 2014  \
146              0.0              0.0              0.0              0.0

     Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  Valeur DHS 2018  \
146              0.0              0.0              0.0              0.0

     Valeur DHS 2019  Valeur DHS 2020
146              0.0              0.0
    Code du pays Libell√© du pays  Code du flux   Libell√© du flux  \
167           BS         BAHAMAS            14  Importations CAF

     Valeur DHS 2010  Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  \
167          1005333        1092929.0            292.0          24671.0

     Valeur DHS 2014  Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  \
167      653581484.0      168603172.0          22099.0            231.0

     Valeur DHS 2018  Valeur DHS 2019  Valeur DHS 2020
167          63160.0       73305993.0          18027.0
    Code du pays Libell√© du pays  Code du flux   Libell√© du flux  \
362           FJ           FIDJI            24  Exportations FAB

     Valeur DHS 2010  Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  \
362           835726              0.0              0.0           8000.0

     Valeur DHS 2014  Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  \
362       3416655.88        1777586.0        1369547.0              0.0

     Valeur DHS 2018  Valeur DHS 2019  Valeur DHS 2020
362         713349.0              0.0         805340.0
    Code du pays Libell√© du pays  Code du flux   Libell√© du flux  \
363           FJ           FIDJI            14  Importations CAF

     Valeur DHS 2010  Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  \
363                0              0.0              0.0              0.0

     Valeur DHS 2014  Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  \
363           1961.0          14514.0              0.0              0.0

     Valeur DHS 2018  Valeur DHS 2019  Valeur DHS 2020
363              0.0           3739.0          15263.0
    Code du pays Libell√© du pays  Code du flux   Libell√© du flux  \
556           JE          JERSEY            24  Exportations FAB

     Valeur DHS 2010  Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  \
556                0          32622.0          44992.0         606725.0

     Valeur DHS 2014  Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  \
556         413673.0         307586.0         190145.0         107255.0

     Valeur DHS 2018  Valeur DHS 2019  Valeur DHS 2020
556              0.0              0.0         191943.0
    Code du pays Libell√© du pays  Code du flux  \
563           JM        JAMAIQUE           141

                                       Libell√© du flux  Valeur DHS 2010  \
563  Importations en admission temporaire pour perf...                0

     Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  Valeur DHS 2014  \
563              0.0              0.0              0.0              0.0

     Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  Valeur DHS 2018  \
563              0.0              0.0          12502.0          32362.0

     Valeur DHS 2019  Valeur DHS 2020
563              0.0              0.0
    Code du pays       Libell√© du pays  Code du flux  \
602           KN  SAINT-KITTS-ET-NEVIS           241

                                       Libell√© du flux  Valeur DHS 2010  \
602  R√©exportations en suite d'admission temporaire...                0

     Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  Valeur DHS 2014  \
602              0.0              0.0              NaN              0.0

     Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  Valeur DHS 2018  \
602              0.0              0.0              0.0              0.0

     Valeur DHS 2019  Valeur DHS 2020
602              0.0              0.0
    Code du pays                             Libell√© du pays  Code du flux  \
604           KP  REPUBLIQUE POPULAIRE DEMOCRATIQUE DE COREE           242

                                       Libell√© du flux  Valeur DHS 2010  \
604  R√©exportations en suite d'admission temporaire...                0

     Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  Valeur DHS 2014  \
604              0.0              0.0              0.0              0.0

     Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  Valeur DHS 2018  \
604              0.0              0.0              0.0              0.0

     Valeur DHS 2019  Valeur DHS 2020
604              0.0              0.0
    Code du pays                        Libell√© du pays  Code du flux  \
636           LA  REPUBLIQUE DEMOCRATIQUE POPULAIRE LAO            24

      Libell√© du flux  Valeur DHS 2010  Valeur DHS 2011  Valeur DHS 2012  \
636  Exportations FAB                0              0.0              0.0

     Valeur DHS 2013  Valeur DHS 2014  Valeur DHS 2015  Valeur DHS 2016  \
636       2180060.54        2231001.4              0.0              0.0

     Valeur DHS 2017  Valeur DHS 2018  Valeur DHS 2019  Valeur DHS 2020
636              0.0          48000.0              0.0              0.0
    Code du pays Libell√© du pays  Code du flux   Libell√© du flux  \
728           MK       MACEDOINE            14  Importations CAF

     Valeur DHS 2010  Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  \
728          7020348        2340616.0         815942.0        1604896.0

     Valeur DHS 2014  Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  \
728        3203966.0        2183288.0        4167246.0        5287773.7

     Valeur DHS 2018  Valeur DHS 2019  Valeur DHS 2020
728       16115979.0       24245493.0     3.518272e+07
    Code du pays Libell√© du pays  Code du flux  \
729           MK       MACEDOINE           141

                                       Libell√© du flux  Valeur DHS 2010  \
729  Importations en admission temporaire pour perf...           145976

     Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  Valeur DHS 2014  \
729              0.0              0.0         715535.0         130964.0

     Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  Valeur DHS 2018  \
729              0.0        2018427.0              0.0              0.0

     Valeur DHS 2019  Valeur DHS 2020
729              0.0        1210920.0
     Code du pays Libell√© du pays  Code du flux   Libell√© du flux  \
1038           SN         SENEGAL            24  Exportations FAB

      Valeur DHS 2010  Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  \
1038        660678728      938533563.0     2.105904e+09     2.035049e+09

      Valeur DHS 2014  Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  \
1038     1.243383e+09     1.475645e+09     1.947088e+09     1.731575e+09

      Valeur DHS 2018  Valeur DHS 2019  Valeur DHS 2020
1038     2.030531e+09     2.111404e+09     2.020216e+09
     Code du pays Libell√© du pays  Code du flux   Libell√© du flux  \
1213           VU         VANUATU            24  Exportations FAB

      Valeur DHS 2010  Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  \
1213                0              0.0              0.0        389115.44

      Valeur DHS 2014  Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  \
1213         118514.0          89005.0              0.0              0.0

      Valeur DHS 2018  Valeur DHS 2019  Valeur DHS 2020
1213              0.0              0.0              0.0
     Code du pays   Libell√© du pays  Code du flux   Libell√© du flux  \
1214           WF  WALLIS ET FUTUNA            24  Exportations FAB

      Valeur DHS 2010  Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  \
1214           545307         489942.0         501759.0         587895.0

      Valeur DHS 2014  Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  \
1214              0.0         611127.0         618757.0         663918.0

      Valeur DHS 2018  Valeur DHS 2019  Valeur DHS 2020
1214         566064.0              0.0         686888.0
     Code du pays Libell√© du pays  Code du flux   Libell√© du flux  \
1223           YE           YEMEN            14  Importations CAF

      Valeur DHS 2010  Valeur DHS 2011  Valeur DHS 2012  Valeur DHS 2013  \
1223           411547         674847.0        1792026.0         234502.0

      Valeur DHS 2014  Valeur DHS 2015  Valeur DHS 2016  Valeur DHS 2017  \
1223        1842001.0         208000.0              0.0              0.0

      Valeur DHS 2018  Valeur DHS 2019  Valeur DHS 2020
1223          98118.0         369086.0           8347.0

In [30]:
annual.fillna(0).isnull().sum()

Code du pays       0
Libell√© du pays    0
Code du flux       0
Libell√© du flux    0
Valeur DHS 2010    0
Valeur DHS 2011    0
Valeur DHS 2012    0
Valeur DHS 2013    0
Valeur DHS 2014    0
Valeur DHS 2015    0
Valeur DHS 2016    0
Valeur DHS 2017    0
Valeur DHS 2018    0
Valeur DHS 2019    0
Valeur DHS 2020    0
dtype: int64