#1. Exploring Data

In [25]:
import numpy as np 
import pandas as pd

In [26]:
path='https://raw.githubusercontent.com/Hamid-abdellaoui/Morocco_Exchange_VIZ/master/Data/ExportData.csv'
dataframe = pd.read_csv(path,sep=';',decimal=',')
dataframe.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Code du groupement d'utilisation  ... Valeur DHS Juin 2021
0                                 1  ...                  0.0
1                                 1  ...                  0.0
2                                 1  ...                  0.0
3                                 1  ...                  2.0
4                                 1  ...                  0.0

[5 rows x 56 columns]

In [27]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61651 entries, 0 to 61650
Data columns (total 56 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Code du groupement d'utilisation          61651 non-null  int64
 1   Libell√© du groupement d'utilisation       61651 non-null  object
 2   Code du nouveau produits remarquables     61651 non-null  int64
 3   Libell√© du nouveau produits remarquables  61651 non-null  object
 4   Code de la section CTCI                   61651 non-null  object
 5   Libell√© de la section CTCI                61651 non-null  object
 6   Code de la division CTCI                  61651 non-null  object
 7   Libell√© de la division CTCI               61649 non-null  object
 8   Code du groupe CTCI                       61651 non-null  object
 9   Libell√© du groupe CTCI                    61649 non-null  object
 10  Continent                                 61651 non-null  object
 11  Libell√© du pays                           61651 non-null  object
 12  Code du flux                              61651 non-null  int64
 13  Libell√© du flux                           61651 non-null  object
 14  Valeur DHS Janvier 2018                   61651 non-null  float64
 15  Valeur DHS F√©vrier 2018                   61651 non-null  float64
 16  Valeur DHS Mars 2018                      61651 non-null  float64
 17  Valeur DHS Avril 2018                     61651 non-null  float64
 18  Valeur DHS Mai 2018                       61651 non-null  float64
 19  Valeur DHS Juin 2018                      61651 non-null  float64
 20  Valeur DHS Juillet 2018                   61651 non-null  float64
 21  Valeur DHS Aout 2018                      61651 non-null  float64
 22  Valeur DHS Septembre 2018                 61651 non-null  float64
 23  Valeur DHS Octobre 2018                   61651 non-null  float64
 24  Valeur DHS Novembre 2018                  61651 non-null  float64
 25  Valeur DHS D√©cembre 2018                  61651 non-null  float64
 26  Valeur DHS Janvier 2019                   61651 non-null  float64
 27  Valeur DHS F√©vrier 2019                   61651 non-null  float64
 28  Valeur DHS Mars 2019                      61651 non-null  float64
 29  Valeur DHS Avril 2019                     61651 non-null  float64
 30  Valeur DHS Mai 2019                       61651 non-null  float64
 31  Valeur DHS Juin 2019                      61651 non-null  float64
 32  Valeur DHS Juillet 2019                   61651 non-null  float64
 33  Valeur DHS Aout 2019                      61651 non-null  float64
 34  Valeur DHS Septembre 2019                 61651 non-null  float64
 35  Valeur DHS Octobre 2019                   61651 non-null  float64
 36  Valeur DHS Novembre 2019                  61651 non-null  float64
 37  Valeur DHS D√©cembre 2019                  61651 non-null  float64
 38  Valeur DHS Janvier 2020                   61651 non-null  float64
 39  Valeur DHS F√©vrier 2020                   61651 non-null  float64
 40  Valeur DHS Mars 2020                      61651 non-null  float64
 41  Valeur DHS Avril 2020                     61651 non-null  float64
 42  Valeur DHS Mai 2020                       61651 non-null  float64
 43  Valeur DHS Juin 2020                      61651 non-null  float64
 44  Valeur DHS Juillet 2020                   61651 non-null  float64
 45  Valeur DHS Aout 2020                      61651 non-null  float64
 46  Valeur DHS Septembre 2020                 61651 non-null  float64
 47  Valeur DHS Octobre 2020                   61651 non-null  float64
 48  Valeur DHS Novembre 2020                  61651 non-null  float64
 49  Valeur DHS D√©cembre 2020                  61651 non-null  float64
 50  Valeur DHS Janvier 2021                   61651 non-null  float64
 51  Valeur DHS F√©vrier 2021                   61651 non-null  float64
 52  Valeur DHS Mars 2021                      61651 non-null  float64
 53  Valeur DHS Avril 2021                     61651 non-null  float64
 54  Valeur DHS Mai 2021                       61651 non-null  float64
 55  Valeur DHS Juin 2021                      61651 non-null  float64
dtypes: float64(42), int64(3), object(11)
memory usage: 26.3+ MB

# 2. Handling  missing values

In [28]:
dataframe.isnull().sum()

Code du groupement d'utilisation            0
Libell√© du groupement d'utilisation         0
Code du nouveau produits remarquables       0
Libell√© du nouveau produits remarquables    0
Code de la section CTCI                     0
Libell√© de la section CTCI                  0
Code de la division CTCI                    0
Libell√© de la division CTCI                 2
Code du groupe CTCI                         0
Libell√© du groupe CTCI                      2
Continent                                   0
Libell√© du pays                             0
Code du flux                                0
Libell√© du flux                             0
Valeur DHS Janvier 2018                     0
Valeur DHS F√©vrier 2018                     0
Valeur DHS Mars 2018                        0
Valeur DHS Avril 2018                       0
Valeur DHS Mai 2018                         0
Valeur DHS Juin 2018                        0
Valeur DHS Juillet 2018                     0
Valeur DHS Aout 2018                        0
Valeur DHS Septembre 2018                   0
Valeur DHS Octobre 2018                     0
Valeur DHS Novembre 2018                    0
Valeur DHS D√©cembre 2018                    0
Valeur DHS Janvier 2019                     0
Valeur DHS F√©vrier 2019                     0
Valeur DHS Mars 2019                        0
Valeur DHS Avril 2019                       0
Valeur DHS Mai 2019                         0
Valeur DHS Juin 2019                        0
Valeur DHS Juillet 2019                     0
Valeur DHS Aout 2019                        0
Valeur DHS Septembre 2019                   0
Valeur DHS Octobre 2019                     0
Valeur DHS Novembre 2019                    0
Valeur DHS D√©cembre 2019                    0
Valeur DHS Janvier 2020                     0
Valeur DHS F√©vrier 2020                     0
Valeur DHS Mars 2020                        0
Valeur DHS Avril 2020                       0
Valeur DHS Mai 2020                         0
Valeur DHS Juin 2020                        0
Valeur DHS Juillet 2020                     0
Valeur DHS Aout 2020                        0
Valeur DHS Septembre 2020                   0
Valeur DHS Octobre 2020                     0
Valeur DHS Novembre 2020                    0
Valeur DHS D√©cembre 2020                    0
Valeur DHS Janvier 2021                     0
Valeur DHS F√©vrier 2021                     0
Valeur DHS Mars 2021                        0
Valeur DHS Avril 2021                       0
Valeur DHS Mai 2021                         0
Valeur DHS Juin 2021                        0
dtype: int64


‚ñ∂ **Pour** *Libell√© de la division CTCI* **et** *Libell√© du groupe CTCI* <br>
> On va remplacer les valeurs manquantes manuellement √† l'aide des colonnes Code correspondant

In [29]:
#qui sont les indices des valeures manquantes
print('pour la variable: Libell√© du groupe CTCI :\t \t',dataframe[dataframe['Libell√© du groupe CTCI'].isnull()].index.tolist(),
      '\npour la variable: Libell√© de la division CTCI :\t\t',dataframe[dataframe['Libell√© de la division CTCI'].isnull()].index.tolist())

pour la variable: Libell√© du groupe CTCI :	 	 [5186, 5969]
pour la variable: Libell√© de la division CTCI :		 [5186, 5969]

In [30]:
#checking what's happening there
print(dataframe['Libell√© du groupe CTCI'][5186],dataframe['Code du groupe CTCI'][5186],'\n',
      dataframe['Libell√© du groupe CTCI'][5969],dataframe['Code du groupe CTCI'][5969])

nan 34
 nan 34

In [31]:
print(dataframe['Libell√© de la division CTCI'][5186],dataframe['Code de la division CTCI'][5186],'\n',
      dataframe['Libell√© de la division CTCI'][5969],dataframe['Code de la division CTCI'][5969])

nan 3
 nan 3

In [32]:
c,i=0,70
while(c<=6):
  i+=1
  if i !=5969 and i != 5186:
    if dataframe['Code du groupe CTCI'][i]==34:
      dataframe['Libell√© du groupe CTCI'][5186]=dataframe['Libell√© du groupe CTCI'][i]
      dataframe['Libell√© du groupe CTCI'][5969]=dataframe['Libell√© du groupe CTCI'][i]
      c+=1
    if dataframe['Code de la division CTCI'][i]==3:
      dataframe['Libell√© de la division CTCI'][5186]=dataframe['Libell√© de la division CTCI'][i]
      dataframe['Libell√© de la division CTCI'][5969]=dataframe['Libell√© de la division CTCI'][i]
      c+=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [33]:
dataframe.isnull().sum().sum()

0

üéâü•≥ NOIICE , no more missing values

Let's delete now some useless columns (the columns of code ...)

In [34]:
dataframe.drop(dataframe.columns[[0,2,3,4,6,8,12]],1, inplace=True)

voici la form de notre base de donn√©es

In [35]:
dataframe.columns

Index(['Libell√© du groupement d'utilisation', 'Libell√© de la section CTCI',
       'Libell√© de la division CTCI', 'Libell√© du groupe CTCI', 'Continent',
       'Libell√© du pays', 'Libell√© du flux', 'Valeur DHS Janvier 2018',
       'Valeur DHS F√©vrier 2018', 'Valeur DHS Mars 2018',
       'Valeur DHS Avril 2018', 'Valeur DHS Mai 2018', 'Valeur DHS Juin 2018',
       'Valeur DHS Juillet 2018', 'Valeur DHS Aout 2018',
       'Valeur DHS Septembre 2018', 'Valeur DHS Octobre 2018',
       'Valeur DHS Novembre 2018', 'Valeur DHS D√©cembre 2018',
       'Valeur DHS Janvier 2019', 'Valeur DHS F√©vrier 2019',
       'Valeur DHS Mars 2019', 'Valeur DHS Avril 2019', 'Valeur DHS Mai 2019',
       'Valeur DHS Juin 2019', 'Valeur DHS Juillet 2019',
       'Valeur DHS Aout 2019', 'Valeur DHS Septembre 2019',
       'Valeur DHS Octobre 2019', 'Valeur DHS Novembre 2019',
       'Valeur DHS D√©cembre 2019', 'Valeur DHS Janvier 2020',
       'Valeur DHS F√©vrier 2020', 'Valeur DHS Mars 2020',
       'Valeur DHS Avril 2020', 'Valeur DHS Mai 2020', 'Valeur DHS Juin 2020',
       'Valeur DHS Juillet 2020', 'Valeur DHS Aout 2020',
       'Valeur DHS Septembre 2020', 'Valeur DHS Octobre 2020',
       'Valeur DHS Novembre 2020', 'Valeur DHS D√©cembre 2020',
       'Valeur DHS Janvier 2021', 'Valeur DHS F√©vrier 2021',
       'Valeur DHS Mars 2021', 'Valeur DHS Avril 2021', 'Valeur DHS Mai 2021',
       'Valeur DHS Juin 2021'],
      dtype='object')

# 3. Extraction de sous base de donn√©es

> ### ‚úî Flux & countries

In [36]:
new_df=dataframe[dataframe.columns[5:]]
new_df.head()

  Libell√© du pays   Libell√© du flux  ...  Valeur DHS Mai 2021  Valeur DHS Juin 2021
0           CONGO  Exportations FAB  ...                  0.0                   0.0
1         NIGERIA  Exportations FAB  ...                  0.0                   0.0
2      KAZAKHSTAN  Exportations FAB  ...                  0.0                   0.0
3          ITALIE  Exportations FAB  ...            1056352.0                   2.0
4          CANADA  Exportations FAB  ...                  0.0                   0.0

[5 rows x 44 columns]

In [37]:
flux=new_df.groupby(['Libell√© du pays','Libell√© du flux']).sum()
flux=flux.transpose()
flux['Date']=pd.date_range(start='2018-01-01', periods=42,freq='M')
flux.set_index('Date',inplace=True)
flux.to_csv('flux.csv')
flux.head()

Libell√© du pays      AFGHANISTAN  ...                                                                        ZIMBABWE
Libell√© du flux Exportations FAB  ... Importations en admission temporaire pour perfectionnement actif  avec paiement
Date                              ...
2018-01-31                   0.0  ...                                                0.0
2018-02-28                   0.0  ...                                                0.0
2018-03-31             1075705.0  ...                                                0.0
2018-04-30                   0.0  ...                                                0.0
2018-05-31                   0.0  ...                                                0.0

[5 rows x 985 columns]

> ### ‚úî Groupement d'utilisation

In [38]:
dataframe['Valeur Total']=dataframe[dataframe.columns[7:]].sum(axis=1)
dataframe.head(2)

  Libell√© du groupement d'utilisation  ... Valeur Total
0    ALIMENTATION, BOISSONS ET TABACS  ...    1007201.5
1    ALIMENTATION, BOISSONS ET TABACS  ...    3858549.8

[2 rows x 50 columns]

In [39]:
new_df1=dataframe[dataframe.columns[:7]]
new_df1['Total dh']=dataframe['Valeur Total']
new_df1.to_csv('Export_total.csv')
new_df1.head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  Libell√© du groupement d'utilisation  ...   Total dh
0    ALIMENTATION, BOISSONS ET TABACS  ...  1007201.5
1    ALIMENTATION, BOISSONS ET TABACS  ...  3858549.8
2    ALIMENTATION, BOISSONS ET TABACS  ...  4055916.0

[3 rows x 8 columns]

In [40]:
new_df1.groupby(["Libell√© du groupement d'utilisation"]).sum()

                                                  Total dh
Libell√© du groupement d'utilisation
ALIMENTATION, BOISSONS ET TABACS              4.407621e+11
DEMI  PRODUITS                                8.945092e+11
ENERGIE  ET  LUBRIFIANTS                      2.547111e+11
OR INDUSTRIEL                                 2.453125e+09
PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  8.173197e+10
PRODUITS BRUTS D'ORIGINE MINERALE             1.164993e+11
PRODUITS FINIS D'EQUIPEMENT AGRICOLE          7.369060e+09
PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        9.141132e+11
PRODUITS FINIS DE CONSOMMATION                1.042161e+12

In [41]:
new_df1.groupby(['Libell√© du pays',"Libell√© du groupement d'utilisation"]).sum()

                                                                  Total dh
Libell√© du pays Libell√© du groupement d'utilisation
AFGHANISTAN     ALIMENTATION, BOISSONS ET TABACS              1.091860e+07
                DEMI  PRODUITS                                5.776000e+03
                PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  4.251125e+06
                PRODUITS FINIS DE CONSOMMATION                1.368589e+06
AFRIQUE DU SUD  ALIMENTATION, BOISSONS ET TABACS              1.414582e+09
...                                                                    ...
ZAMBIE          PRODUITS FINIS DE CONSOMMATION                2.738163e+06
ZIMBABWE        ALIMENTATION, BOISSONS ET TABACS              9.203152e+06
                DEMI  PRODUITS                                3.285600e+05
                PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        8.416854e+06
                PRODUITS FINIS DE CONSOMMATION                9.684130e+05

[1315 rows x 1 columns]

In [42]:
new_df1.groupby(['Libell√© du flux',"Libell√© du groupement d'utilisation"]).sum()

                                                                                                     Total dh
Libell√© du flux                                    Libell√© du groupement d'utilisation
Exportations FAB                                   ALIMENTATION, BOISSONS ET TABACS              1.998778e+11
                                                   DEMI  PRODUITS                                2.138336e+11
                                                   ENERGIE  ET  LUBRIFIANTS                      9.379041e+09
                                                   OR INDUSTRIEL                                 1.614490e+09
                                                   PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  2.058247e+10
                                                   PRODUITS BRUTS D'ORIGINE MINERALE             4.726345e+10
                                                   PRODUITS FINIS D'EQUIPEMENT AGRICOLE          4.900290e+08
                                                   PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        1.955631e+11
                                                   PRODUITS FINIS DE CONSOMMATION                2.874920e+11
Importations CAF                                   ALIMENTATION, BOISSONS ET TABACS              1.809376e+11
                                                   DEMI  PRODUITS                                3.534150e+11
                                                   ENERGIE  ET  LUBRIFIANTS                      2.403281e+11
                                                   OR INDUSTRIEL                                 5.861206e+08
                                                   PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  4.544973e+10
                                                   PRODUITS BRUTS D'ORIGINE MINERALE             3.395411e+10
                                                   PRODUITS FINIS D'EQUIPEMENT AGRICOLE          6.425468e+09
                                                   PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        4.107154e+11
                                                   PRODUITS FINIS DE CONSOMMATION                3.769233e+11
Importations en admission temporaire pour perfe... ALIMENTATION, BOISSONS ET TABACS              9.288256e+09
                                                   DEMI  PRODUITS                                1.003806e+11
                                                   ENERGIE  ET  LUBRIFIANTS                      3.372233e+09
                                                   OR INDUSTRIEL                                 8.953300e+05
                                                   PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  5.883836e+09
                                                   PRODUITS BRUTS D'ORIGINE MINERALE             2.580487e+10
                                                   PRODUITS FINIS D'EQUIPEMENT AGRICOLE          9.981990e+05
                                                   PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        1.001429e+11
                                                   PRODUITS FINIS DE CONSOMMATION                7.776201e+10
Importations en admission temporaire pour perfe... ALIMENTATION, BOISSONS ET TABACS              2.896349e+09
                                                   DEMI  PRODUITS                                2.470692e+10
                                                   ENERGIE  ET  LUBRIFIANTS                      9.757580e+05
                                                   OR INDUSTRIEL                                 4.131300e+04
                                                   PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  2.813231e+09
                                                   PRODUITS BRUTS D'ORIGINE MINERALE             1.864233e+08
                                                   PRODUITS FINIS D'EQUIPEMENT AGRICOLE          3.827751e+06
                                                   PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        2.772937e+10
                                                   PRODUITS FINIS DE CONSOMMATION                4.091401e+10
R√©exportations en suite d'admission temporaire ... ALIMENTATION, BOISSONS ET TABACS              4.468815e+10
                                                   DEMI  PRODUITS                                1.835577e+11
                                                   ENERGIE  ET  LUBRIFIANTS                      1.630731e+09
                                                   OR INDUSTRIEL                                 2.515780e+08
                                                   PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  4.422365e+09
                                                   PRODUITS BRUTS D'ORIGINE MINERALE             9.161516e+09
                                                   PRODUITS FINIS D'EQUIPEMENT AGRICOLE          3.443131e+07
                                                   PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        1.382660e+11
                                                   PRODUITS FINIS DE CONSOMMATION                1.745128e+11
R√©exportations en suite d'admission temporaire ... ALIMENTATION, BOISSONS ET TABACS              3.073967e+09
                                                   DEMI  PRODUITS                                1.861545e+10
                                                   ENERGIE  ET  LUBRIFIANTS                      5.066154e+03
                                                   PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  2.580331e+09
                                                   PRODUITS BRUTS D'ORIGINE MINERALE             1.289399e+08
                                                   PRODUITS FINIS D'EQUIPEMENT AGRICOLE          4.143053e+08
                                                   PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        4.169654e+10
                                                   PRODUITS FINIS DE CONSOMMATION                8.455737e+10

> ### ‚úî division CTCI

In [43]:
new_df1.groupby(["Libell√© de la division CTCI"]).sum().sort_values('Total dh', ascending=False)

                                                        Total dh
Libell√© de la division CTCI
MACHINES ET APPAREILS √âLECTRIQUES, N.D.A., ET L...  5.223035e+11
V√âHICULES ROUTIERS (M√äME √Ä COUSSIN D¬øAIR)           4.467940e+11
ENGRAIS (AUTRES QUE CEUX DU GROUPE 272)             2.293673e+11
V√äTEMENTS ET ACCESSOIRES DU V√äTEMENT                2.201536e+11
FILS, TISSUS, ARTICLES TEXTILES FA√áONN√âS, N.D.A...  1.899854e+11
...                                                          ...
HUILES ET GRAISSES ANIMALES OU V√âG√âTALES, PR√âPA...  1.432865e+09
CAOUTCHOUC BRUT (M√äME SYNTH√âTIQUE OU R√âG√âN√âR√â)      1.200814e+09
CUIRS, PEAUX ET PELLETERIES BRUTS                   2.434381e+07
PI√àCES D¬øOR ET PI√àCES AYANT COURS                   1.132548e+07
MONNAIES (AUTRES QUE LES PI√àCES D¬øOR) N¬øAYANT P...  4.764000e+03

[66 rows x 1 columns]

> ### ‚úî Continent

In [44]:
new_df1.groupby(["Continent"]).sum()

               Total dh
Continent
AFRIQUE    1.932782e+11
AMERIQUE   4.006551e+11
ASIE       5.625860e+11
AUSTRALIE  5.995745e+09
AUTRE      2.025250e+10
EUROPE     2.571543e+12

In [45]:
new_df1.groupby(["Continent","Libell√© du groupement d'utilisation"]).sum()

                                                            Total dh
Continent Libell√© du groupement d'utilisation
AFRIQUE   ALIMENTATION, BOISSONS ET TABACS              4.441974e+10
          DEMI  PRODUITS                                6.984079e+10
          ENERGIE  ET  LUBRIFIANTS                      2.380866e+10
          PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  6.500961e+09
          PRODUITS BRUTS D'ORIGINE MINERALE             3.800707e+09
          PRODUITS FINIS D'EQUIPEMENT AGRICOLE          3.786507e+07
          PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        1.939741e+10
          PRODUITS FINIS DE CONSOMMATION                2.547202e+10
AMERIQUE  ALIMENTATION, BOISSONS ET TABACS              9.109742e+10
          DEMI  PRODUITS                                1.443211e+11
          ENERGIE  ET  LUBRIFIANTS                      4.764086e+10
          OR INDUSTRIEL                                 7.285360e+05
          PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  1.434146e+10
          PRODUITS BRUTS D'ORIGINE MINERALE             1.361324e+10
          PRODUITS FINIS D'EQUIPEMENT AGRICOLE          2.641768e+08
          PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        7.210452e+10
          PRODUITS FINIS DE CONSOMMATION                1.727162e+10
ASIE      ALIMENTATION, BOISSONS ET TABACS              3.754361e+10
          DEMI  PRODUITS                                1.987048e+11
          ENERGIE  ET  LUBRIFIANTS                      3.290601e+10
          OR INDUSTRIEL                                 4.247600e+07
          PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  6.339569e+09
          PRODUITS BRUTS D'ORIGINE MINERALE             5.624652e+10
          PRODUITS FINIS D'EQUIPEMENT AGRICOLE          8.186195e+08
          PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        1.206307e+11
          PRODUITS FINIS DE CONSOMMATION                1.093537e+11
AUSTRALIE ALIMENTATION, BOISSONS ET TABACS              1.964811e+09
          DEMI  PRODUITS                                1.492745e+09
          ENERGIE  ET  LUBRIFIANTS                      9.394070e+05
          PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  1.003130e+09
          PRODUITS BRUTS D'ORIGINE MINERALE             8.844925e+08
          PRODUITS FINIS D'EQUIPEMENT AGRICOLE          3.385377e+06
          PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        3.608349e+08
          PRODUITS FINIS DE CONSOMMATION                2.854072e+08
AUTRE     ALIMENTATION, BOISSONS ET TABACS              2.621205e+09
          DEMI  PRODUITS                                2.337728e+08
          ENERGIE  ET  LUBRIFIANTS                      1.066788e+10
          PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  2.998414e+07
          PRODUITS BRUTS D'ORIGINE MINERALE             4.909200e+03
          PRODUITS FINIS D'EQUIPEMENT AGRICOLE          5.616000e+03
          PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        3.982417e+09
          PRODUITS FINIS DE CONSOMMATION                2.717227e+09
EUROPE    ALIMENTATION, BOISSONS ET TABACS              2.631153e+11
          DEMI  PRODUITS                                4.799161e+11
          ENERGIE  ET  LUBRIFIANTS                      1.396868e+11
          OR INDUSTRIEL                                 2.409920e+09
          PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  5.351686e+10
          PRODUITS BRUTS D'ORIGINE MINERALE             4.195434e+10
          PRODUITS FINIS D'EQUIPEMENT AGRICOLE          6.245008e+09
          PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        6.976373e+11
          PRODUITS FINIS DE CONSOMMATION                8.870614e+11