#1. Exploring Data

In [18]:
import numpy as np 
import pandas as pd

In [19]:
path='https://raw.githubusercontent.com/Hamid-abdellaoui/Morocco_Exchange_VIZ/master/Data/ExportData.csv'
dataframe = pd.read_csv(path,sep=';',decimal=',')
dataframe.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Code du groupement d'utilisation  ... Valeur DHS Juin 2021
0                                 1  ...                  0.0
1                                 1  ...                  0.0
2                                 1  ...                  0.0
3                                 1  ...                  2.0
4                                 1  ...                  0.0

[5 rows x 56 columns]

In [20]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61651 entries, 0 to 61650
Data columns (total 56 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Code du groupement d'utilisation          61651 non-null  int64
 1   Libellé du groupement d'utilisation       61651 non-null  object
 2   Code du nouveau produits remarquables     61651 non-null  int64
 3   Libellé du nouveau produits remarquables  61651 non-null  object
 4   Code de la section CTCI                   61651 non-null  object
 5   Libellé de la section CTCI                61651 non-null  object
 6   Code de la division CTCI                  61651 non-null  object
 7   Libellé de la division CTCI               61649 non-null  object
 8   Code du groupe CTCI                       61651 non-null  object
 9   Libellé du groupe CTCI                    61649 non-null  object
 10  Continent                                 61651 non-null  object
 11  Libellé du pays                           61651 non-null  object
 12  Code du flux                              61651 non-null  int64
 13  Libellé du flux                           61651 non-null  object
 14  Valeur DHS Janvier 2018                   61651 non-null  float64
 15  Valeur DHS Février 2018                   61651 non-null  float64
 16  Valeur DHS Mars 2018                      61651 non-null  float64
 17  Valeur DHS Avril 2018                     61651 non-null  float64
 18  Valeur DHS Mai 2018                       61651 non-null  float64
 19  Valeur DHS Juin 2018                      61651 non-null  float64
 20  Valeur DHS Juillet 2018                   61651 non-null  float64
 21  Valeur DHS Aout 2018                      61651 non-null  float64
 22  Valeur DHS Septembre 2018                 61651 non-null  float64
 23  Valeur DHS Octobre 2018                   61651 non-null  float64
 24  Valeur DHS Novembre 2018                  61651 non-null  float64
 25  Valeur DHS Décembre 2018                  61651 non-null  float64
 26  Valeur DHS Janvier 2019                   61651 non-null  float64
 27  Valeur DHS Février 2019                   61651 non-null  float64
 28  Valeur DHS Mars 2019                      61651 non-null  float64
 29  Valeur DHS Avril 2019                     61651 non-null  float64
 30  Valeur DHS Mai 2019                       61651 non-null  float64
 31  Valeur DHS Juin 2019                      61651 non-null  float64
 32  Valeur DHS Juillet 2019                   61651 non-null  float64
 33  Valeur DHS Aout 2019                      61651 non-null  float64
 34  Valeur DHS Septembre 2019                 61651 non-null  float64
 35  Valeur DHS Octobre 2019                   61651 non-null  float64
 36  Valeur DHS Novembre 2019                  61651 non-null  float64
 37  Valeur DHS Décembre 2019                  61651 non-null  float64
 38  Valeur DHS Janvier 2020                   61651 non-null  float64
 39  Valeur DHS Février 2020                   61651 non-null  float64
 40  Valeur DHS Mars 2020                      61651 non-null  float64
 41  Valeur DHS Avril 2020                     61651 non-null  float64
 42  Valeur DHS Mai 2020                       61651 non-null  float64
 43  Valeur DHS Juin 2020                      61651 non-null  float64
 44  Valeur DHS Juillet 2020                   61651 non-null  float64
 45  Valeur DHS Aout 2020                      61651 non-null  float64
 46  Valeur DHS Septembre 2020                 61651 non-null  float64
 47  Valeur DHS Octobre 2020                   61651 non-null  float64
 48  Valeur DHS Novembre 2020                  61651 non-null  float64
 49  Valeur DHS Décembre 2020                  61651 non-null  float64
 50  Valeur DHS Janvier 2021                   61651 non-null  float64
 51  Valeur DHS Février 2021                   61651 non-null  float64
 52  Valeur DHS Mars 2021                      61651 non-null  float64
 53  Valeur DHS Avril 2021                     61651 non-null  float64
 54  Valeur DHS Mai 2021                       61651 non-null  float64
 55  Valeur DHS Juin 2021                      61651 non-null  float64
dtypes: float64(42), int64(3), object(11)
memory usage: 26.3+ MB

# 2. Handling  missing values

In [21]:
dataframe.isnull().sum()

Code du groupement d'utilisation            0
Libellé du groupement d'utilisation         0
Code du nouveau produits remarquables       0
Libellé du nouveau produits remarquables    0
Code de la section CTCI                     0
Libellé de la section CTCI                  0
Code de la division CTCI                    0
Libellé de la division CTCI                 2
Code du groupe CTCI                         0
Libellé du groupe CTCI                      2
Continent                                   0
Libellé du pays                             0
Code du flux                                0
Libellé du flux                             0
Valeur DHS Janvier 2018                     0
Valeur DHS Février 2018                     0
Valeur DHS Mars 2018                        0
Valeur DHS Avril 2018                       0
Valeur DHS Mai 2018                         0
Valeur DHS Juin 2018                        0
Valeur DHS Juillet 2018                     0
Valeur DHS Aout 2018                        0
Valeur DHS Septembre 2018                   0
Valeur DHS Octobre 2018                     0
Valeur DHS Novembre 2018                    0
Valeur DHS Décembre 2018                    0
Valeur DHS Janvier 2019                     0
Valeur DHS Février 2019                     0
Valeur DHS Mars 2019                        0
Valeur DHS Avril 2019                       0
Valeur DHS Mai 2019                         0
Valeur DHS Juin 2019                        0
Valeur DHS Juillet 2019                     0
Valeur DHS Aout 2019                        0
Valeur DHS Septembre 2019                   0
Valeur DHS Octobre 2019                     0
Valeur DHS Novembre 2019                    0
Valeur DHS Décembre 2019                    0
Valeur DHS Janvier 2020                     0
Valeur DHS Février 2020                     0
Valeur DHS Mars 2020                        0
Valeur DHS Avril 2020                       0
Valeur DHS Mai 2020                         0
Valeur DHS Juin 2020                        0
Valeur DHS Juillet 2020                     0
Valeur DHS Aout 2020                        0
Valeur DHS Septembre 2020                   0
Valeur DHS Octobre 2020                     0
Valeur DHS Novembre 2020                    0
Valeur DHS Décembre 2020                    0
Valeur DHS Janvier 2021                     0
Valeur DHS Février 2021                     0
Valeur DHS Mars 2021                        0
Valeur DHS Avril 2021                       0
Valeur DHS Mai 2021                         0
Valeur DHS Juin 2021                        0
dtype: int64


▶ **Pour** *Libellé de la division CTCI* **et** *Libellé du groupe CTCI* <br>
> On va remplacer les valeurs manquantes manuellement à l'aide des colonnes Code correspondant

In [22]:
#qui sont les indices des valeures manquantes
print('pour la variable: Libellé du groupe CTCI :\t \t',dataframe[dataframe['Libellé du groupe CTCI'].isnull()].index.tolist(),
      '\npour la variable: Libellé de la division CTCI :\t\t',dataframe[dataframe['Libellé de la division CTCI'].isnull()].index.tolist())

pour la variable: Libellé du groupe CTCI :	 	 [5186, 5969]
pour la variable: Libellé de la division CTCI :		 [5186, 5969]

In [23]:
#checking what's happening there
print(dataframe['Libellé du groupe CTCI'][5186],dataframe['Code du groupe CTCI'][5186],'\n',
      dataframe['Libellé du groupe CTCI'][5969],dataframe['Code du groupe CTCI'][5969])

nan 34
 nan 34

In [24]:
print(dataframe['Libellé de la division CTCI'][5186],dataframe['Code de la division CTCI'][5186],'\n',
      dataframe['Libellé de la division CTCI'][5969],dataframe['Code de la division CTCI'][5969])

nan 3
 nan 3

In [25]:
c,i=0,70
while(c<=6):
  i+=1
  if i !=5969 and i != 5186:
    if dataframe['Code du groupe CTCI'][i]==34:
      dataframe['Libellé du groupe CTCI'][5186]=dataframe['Libellé du groupe CTCI'][i]
      dataframe['Libellé du groupe CTCI'][5969]=dataframe['Libellé du groupe CTCI'][i]
      c+=1
    if dataframe['Code de la division CTCI'][i]==3:
      dataframe['Libellé de la division CTCI'][5186]=dataframe['Libellé de la division CTCI'][i]
      dataframe['Libellé de la division CTCI'][5969]=dataframe['Libellé de la division CTCI'][i]
      c+=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [26]:
dataframe.isnull().sum().sum()

0

🎉🥳 NOIICE , no more missing values

Let's delete now some useless columns (the columns of code ...)

In [27]:
dataframe.drop(dataframe.columns[[0,2,3,4,6,8,12]],1, inplace=True)

voici la form de notre base de données

In [28]:
dataframe.columns

Index(['Libellé du groupement d'utilisation', 'Libellé de la section CTCI',
       'Libellé de la division CTCI', 'Libellé du groupe CTCI', 'Continent',
       'Libellé du pays', 'Libellé du flux', 'Valeur DHS Janvier 2018',
       'Valeur DHS Février 2018', 'Valeur DHS Mars 2018',
       'Valeur DHS Avril 2018', 'Valeur DHS Mai 2018', 'Valeur DHS Juin 2018',
       'Valeur DHS Juillet 2018', 'Valeur DHS Aout 2018',
       'Valeur DHS Septembre 2018', 'Valeur DHS Octobre 2018',
       'Valeur DHS Novembre 2018', 'Valeur DHS Décembre 2018',
       'Valeur DHS Janvier 2019', 'Valeur DHS Février 2019',
       'Valeur DHS Mars 2019', 'Valeur DHS Avril 2019', 'Valeur DHS Mai 2019',
       'Valeur DHS Juin 2019', 'Valeur DHS Juillet 2019',
       'Valeur DHS Aout 2019', 'Valeur DHS Septembre 2019',
       'Valeur DHS Octobre 2019', 'Valeur DHS Novembre 2019',
       'Valeur DHS Décembre 2019', 'Valeur DHS Janvier 2020',
       'Valeur DHS Février 2020', 'Valeur DHS Mars 2020',
       'Valeur DHS Avril 2020', 'Valeur DHS Mai 2020', 'Valeur DHS Juin 2020',
       'Valeur DHS Juillet 2020', 'Valeur DHS Aout 2020',
       'Valeur DHS Septembre 2020', 'Valeur DHS Octobre 2020',
       'Valeur DHS Novembre 2020', 'Valeur DHS Décembre 2020',
       'Valeur DHS Janvier 2021', 'Valeur DHS Février 2021',
       'Valeur DHS Mars 2021', 'Valeur DHS Avril 2021', 'Valeur DHS Mai 2021',
       'Valeur DHS Juin 2021'],
      dtype='object')

# 3. Extraction de sous base de données

> ### ✔ Flux & countries

In [29]:
new_df=dataframe[dataframe.columns[5:]]
new_df.to_csv('new_df.csv',index=False)
new_df.head()

  Libellé du pays   Libellé du flux  ...  Valeur DHS Mai 2021  Valeur DHS Juin 2021
0           CONGO  Exportations FAB  ...                  0.0                   0.0
1         NIGERIA  Exportations FAB  ...                  0.0                   0.0
2      KAZAKHSTAN  Exportations FAB  ...                  0.0                   0.0
3          ITALIE  Exportations FAB  ...            1056352.0                   2.0
4          CANADA  Exportations FAB  ...                  0.0                   0.0

[5 rows x 44 columns]

In [30]:
flux=new_df.groupby(['Libellé du pays','Libellé du flux']).sum()
flux=flux.transpose()
#flux['Date']=pd.date_range(start='2018-01-01', periods=42,freq='M')
flux.set_index(pd.date_range(start='2018-01-01', periods=42,freq='M'),inplace=True)
flux.head()

Libellé du pays      AFGHANISTAN  ...                                                                        ZIMBABWE
Libellé du flux Exportations FAB  ... Importations en admission temporaire pour perfectionnement actif  avec paiement
2018-01-31                   0.0  ...                                                0.0
2018-02-28                   0.0  ...                                                0.0
2018-03-31             1075705.0  ...                                                0.0
2018-04-30                   0.0  ...                                                0.0
2018-05-31                   0.0  ...                                                0.0

[5 rows x 985 columns]

In [31]:
flux.isnull().sum().sum()

0

> ### ✔ Groupement d'utilisation

In [32]:
dataframe['Valeur Total']=dataframe[dataframe.columns[7:]].sum(axis=1)
dataframe.head(1)

  Libellé du groupement d'utilisation  ... Valeur Total
0    ALIMENTATION, BOISSONS ET TABACS  ...    1007201.5

[1 rows x 50 columns]

In [33]:
Export_total=dataframe[dataframe.columns[:7]]
Export_total['Total dh']=dataframe['Valeur Total']
Export_total.to_csv('Export_total.csv', index=False)
Export_total.head(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  Libellé du groupement d'utilisation  ...   Total dh
0    ALIMENTATION, BOISSONS ET TABACS  ...  1007201.5
1    ALIMENTATION, BOISSONS ET TABACS  ...  3858549.8

[2 rows x 8 columns]

In [34]:
flux=new_df.groupby(['Libellé du pays','Libellé du flux']).sum()
flux=flux.transpose()
flux.set_index(pd.date_range(start='2018-01-01', periods=42,freq='M'),inplace=True)
flux.head()

Libellé du pays      AFGHANISTAN  ...                                                                        ZIMBABWE
Libellé du flux Exportations FAB  ... Importations en admission temporaire pour perfectionnement actif  avec paiement
2018-01-31                   0.0  ...                                                0.0
2018-02-28                   0.0  ...                                                0.0
2018-03-31             1075705.0  ...                                                0.0
2018-04-30                   0.0  ...                                                0.0
2018-05-31                   0.0  ...                                                0.0

[5 rows x 985 columns]

### Les catégories des produits les plus importés

In [35]:
utilisation_import=Export_total[(Export_total["Libellé du flux"]=="Importations CAF")].groupby(["Libellé du groupement d'utilisation"]).sum().sort_values('Total dh', ascending=False)
utilisation_import

                                                  Total dh
Libellé du groupement d'utilisation
PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        4.107154e+11
PRODUITS FINIS DE CONSOMMATION                3.769233e+11
DEMI  PRODUITS                                3.534150e+11
ENERGIE  ET  LUBRIFIANTS                      2.403281e+11
ALIMENTATION, BOISSONS ET TABACS              1.809376e+11
PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  4.544973e+10
PRODUITS BRUTS D'ORIGINE MINERALE             3.395411e+10
PRODUITS FINIS D'EQUIPEMENT AGRICOLE          6.425468e+09
OR INDUSTRIEL                                 5.861206e+08

### Les catégories des produits les plus exportés

In [36]:
utilisation_export=Export_total[(Export_total["Libellé du flux"]=="Exportations FAB")].groupby(["Libellé du groupement d'utilisation"]).sum().sort_values('Total dh', ascending=False)
utilisation_export

                                                  Total dh
Libellé du groupement d'utilisation
PRODUITS FINIS DE CONSOMMATION                2.874920e+11
DEMI  PRODUITS                                2.138336e+11
ALIMENTATION, BOISSONS ET TABACS              1.998778e+11
PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        1.955631e+11
PRODUITS BRUTS D'ORIGINE MINERALE             4.726345e+10
PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  2.058247e+10
ENERGIE  ET  LUBRIFIANTS                      9.379041e+09
OR INDUSTRIEL                                 1.614490e+09
PRODUITS FINIS D'EQUIPEMENT AGRICOLE          4.900290e+08

### Les plus grands exportateurs

In [37]:
Export_total[(Export_total["Libellé du flux"]=="Exportations FAB")].groupby(["Libellé du pays"]).sum().sort_values('Total dh', ascending=False)

                                           Total dh
Libellé du pays
ESPAGNE                                2.322271e+11
FRANCE                                 2.138473e+11
ITALIE                                 4.282756e+10
ETATS-UNIS                             3.799372e+10
INDE                                   3.544411e+10
...                                             ...
SAINT-MARIN                            6.476500e+04
REPUBLIQUE DEMOCRATIQUE POPULAIRE LAO  4.800000e+04
GUERNESEY                              2.968900e+04
ILES MARSHALL                          2.481219e+04
SAINT-MARTIN (PARTIE NEERLANDAISE)     2.800000e+02

[207 rows x 1 columns]

### Les plus grands importateurs

In [38]:
Export_total[(Export_total["Libellé du flux"]=="Importations CAF")].groupby(["Libellé du pays"]).sum().sort_values('Total dh', ascending=False)

                                                  Total dh
Libellé du pays
ESPAGNE                                       2.577609e+11
FRANCE                                        1.961763e+11
CHINE                                         1.774249e+11
ETATS-UNIS                                    1.172501e+11
ITALIE                                        8.922057e+10
...                                                    ...
ILES MINEURES ELOIGNEES DES ETATS-UNIS        2.239000e+03
ILES CAIMANES                                 1.505000e+03
SAINTE-HELENE, ASCENSION ET TRISTAN DA CUNHA  1.460000e+03
ETATS FEDERES DE MICRONESIE                   1.052000e+03
TERRITOIRE BRITANNIQUE DE L'OCEAN INDIEN      2.000000e+00

[214 rows x 1 columns]

### Continents de plus grande importations

In [39]:
Export_total[(Export_total["Libellé du flux"]=="Exportations FAB")].groupby(["Continent"]).sum().sort_values('Total dh', ascending=False)

               Total dh
Continent
EUROPE     6.873717e+11
ASIE       9.723499e+10
AMERIQUE   9.704009e+10
AFRIQUE    7.800902e+10
AUTRE      1.427801e+10
AUSTRALIE  2.162062e+09

### Continents de plus grande exportations

In [40]:
Export_total[(Export_total["Libellé du flux"]=="Importations CAF")].groupby(["Continent"]).sum().sort_values('Total dh', ascending=False)

               Total dh
Continent
EUROPE     1.045050e+12
ASIE       3.438313e+11
AMERIQUE   1.931039e+11
AFRIQUE    5.993265e+10
AUTRE      4.488825e+09
AUSTRALIE  2.328250e+09

### données  d'importations et exportations annueles

In [41]:
annual=pd.read_csv('https://raw.githubusercontent.com/Hamid-abdellaoui/Morocco_Exchange_VIZ/master/Data/Annual.csv',sep=';',decimal=',')
annual.head()

  Code du pays Libellé du pays  ...  Valeur DHS 2021 Unnamed: 16
0          NaN             NaN  ...            0.000         NaN
1          NaN             NaN  ...            0.000         NaN
2           AD         ANDORRE  ...       605967.931         NaN
3           AD         ANDORRE  ...       605967.931         NaN
4           AD         ANDORRE  ...            0.000         NaN

[5 rows x 17 columns]

In [42]:
annual.drop(['Unnamed: 16','Valeur DHS 2021'],1,inplace=True)
annual.head()

  Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
0          NaN             NaN  ...            0.000           0.000
1          NaN             NaN  ...            0.000           0.000
2           AD         ANDORRE  ...      6127175.242     3778609.465
3           AD         ANDORRE  ...      6127175.242     3736763.555
4           AD         ANDORRE  ...            0.000       41845.910

[5 rows x 15 columns]

In [43]:
annual.isnull().sum()

Code du pays        8
Libellé du pays     2
Code du flux        0
Libellé du flux     0
Valeur DHS 2010     0
Valeur DHS 2011     3
Valeur DHS 2012     0
Valeur DHS 2013    18
Valeur DHS 2014     0
Valeur DHS 2015     0
Valeur DHS 2016     0
Valeur DHS 2017     0
Valeur DHS 2018     0
Valeur DHS 2019     0
Valeur DHS 2020     0
dtype: int64

In [44]:
annual.drop(0, inplace=True)
annual.drop(1, inplace=True)

In [45]:
 for i in annual[annual['Valeur DHS 2011'].isnull()].index.tolist():print(annual.iloc[[i]])

    Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
173           BW        BOTSWANA  ...        1065021.0       1737912.0

[1 rows x 15 columns]
     Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
1104           TJ     TADJIKISTAN  ...          59572.0       1035760.0

[1 rows x 15 columns]
     Code du pays  ... Valeur DHS 2020
1194           VE  ...      11211915.0

[1 rows x 15 columns]

In [46]:
for i in annual[annual['Valeur DHS 2013'].isnull()].index.tolist():print(annual.iloc[[i]])

   Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
16           AF     AFGHANISTAN  ...           2888.0             0.0

[1 rows x 15 columns]
   Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
83           AW           ARUBA  ...          66723.0             0.0

[1 rows x 15 columns]
    Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
143           BM        BERMUDES  ...           1580.0          1458.0

[1 rows x 15 columns]
    Code du pays    Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
146           BN  BRUNEI DARUSSALAM  ...              0.0             0.0

[1 rows x 15 columns]
    Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
167           BS         BAHAMAS  ...       73305993.0         18027.0

[1 rows x 15 columns]
    Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
362           FJ           FIDJI  ...              0.0        805340.0

[1 rows x 15 columns]
    Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
363           FJ           FIDJI  ...           3739.0         15263.0

[1 rows x 15 columns]
    Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
556           JE          JERSEY  ...              0.0        191943.0

[1 rows x 15 columns]
    Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
563           JM        JAMAIQUE  ...              0.0             0.0

[1 rows x 15 columns]
    Code du pays       Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
602           KN  SAINT-KITTS-ET-NEVIS  ...              0.0             0.0

[1 rows x 15 columns]
    Code du pays  ... Valeur DHS 2020
604           KP  ...             0.0

[1 rows x 15 columns]
    Code du pays  ... Valeur DHS 2020
636           LA  ...             0.0

[1 rows x 15 columns]
    Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
728           MK       MACEDOINE  ...       24245493.0    3.518272e+07

[1 rows x 15 columns]
    Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
729           MK       MACEDOINE  ...              0.0       1210920.0

[1 rows x 15 columns]
     Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
1038           SN         SENEGAL  ...     2.111404e+09    2.020216e+09

[1 rows x 15 columns]
     Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
1213           VU         VANUATU  ...              0.0             0.0

[1 rows x 15 columns]
     Code du pays   Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
1214           WF  WALLIS ET FUTUNA  ...              0.0        686888.0

[1 rows x 15 columns]
     Code du pays Libellé du pays  ...  Valeur DHS 2019 Valeur DHS 2020
1223           YE           YEMEN  ...         369086.0          8347.0

[1 rows x 15 columns]

In [47]:
annual.fillna(0).isnull().sum()

Code du pays       0
Libellé du pays    0
Code du flux       0
Libellé du flux    0
Valeur DHS 2010    0
Valeur DHS 2011    0
Valeur DHS 2012    0
Valeur DHS 2013    0
Valeur DHS 2014    0
Valeur DHS 2015    0
Valeur DHS 2016    0
Valeur DHS 2017    0
Valeur DHS 2018    0
Valeur DHS 2019    0
Valeur DHS 2020    0
dtype: int64