#  1. Exploring Data

In [2]:
import numpy as np 
import pandas as pd

In [3]:
path='https://raw.githubusercontent.com/Hamid-abdellaoui/Morocco_Exchange_VIZ/master/Data/ExportData.csv'
dataframe = pd.read_csv(path,sep=';',decimal=',')
dataframe.head()

C:\Users\hp\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4,6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Code du groupement d'utilisation,Libell√© du groupement d'utilisation,Code du nouveau produits remarquables,Libell√© du nouveau produits remarquables,Code de la section CTCI,Libell√© de la section CTCI,Code de la division CTCI,Libell√© de la division CTCI,Code du groupe CTCI,Libell√© du groupe CTCI,...,Valeur DHS Septembre 2020,Valeur DHS Octobre 2020,Valeur DHS Novembre 2020,Valeur DHS D√©cembre 2020,Valeur DHS Janvier 2021,Valeur DHS F√©vrier 2021,Valeur DHS Mars 2021,Valeur DHS Avril 2021,Valeur DHS Mai 2021,Valeur DHS Juin 2021
0,1,"ALIMENTATION, BOISSONS ET TABACS",101,AGRUMES,0,PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,5,L√âGUMES ET FRUITS,57,"FRUITS, M√äME √Ä COQUE (√Ä L¬øEXCLUSION DES FRUITS...",...,0.0,0.0,96200.0,0.000,0.000,0.0,0.0,0.0,0.0,0.0
1,1,"ALIMENTATION, BOISSONS ET TABACS",101,AGRUMES,0,PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,5,L√âGUMES ET FRUITS,57,"FRUITS, M√äME √Ä COQUE (√Ä L¬øEXCLUSION DES FRUITS...",...,0.0,0.0,0.0,0.000,652186.000,1176807.8,192400.0,0.0,0.0,0.0
2,1,"ALIMENTATION, BOISSONS ET TABACS",101,AGRUMES,0,PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,5,L√âGUMES ET FRUITS,57,"FRUITS, M√äME √Ä COQUE (√Ä L¬øEXCLUSION DES FRUITS...",...,0.0,275664.0,1321247.0,168350.000,288363.000,0.0,245592.0,0.0,0.0,0.0
3,1,"ALIMENTATION, BOISSONS ET TABACS",101,AGRUMES,0,PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,5,L√âGUMES ET FRUITS,57,"FRUITS, M√äME √Ä COQUE (√Ä L¬øEXCLUSION DES FRUITS...",...,0.0,0.0,0.0,1872443.446,7238766.578,0.0,0.0,0.0,1056352.0,2.0
4,1,"ALIMENTATION, BOISSONS ET TABACS",102,"AMIDONS,GLUTEN DE FROMENT ET D√âRIV√âS",5,"PRODUITS CHIMIQUES ET PRODUITS CONNEXES, N.D.A.",59,"MATI√àRES ET PRODUITS CHIMIQUES, N.D.A.",592,"AMIDONS ET F√âCULES, INULINE ET GLUTEN DE FROME...",...,18979.0,15273.0,0.0,0.000,0.000,121193.0,0.0,0.0,0.0,0.0

In [4]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61651 entries, 0 to 61650
Data columns (total 56 columns):
Code du groupement d'utilisation            61651 non-null int64
Libell√© du groupement d'utilisation         61651 non-null object
Code du nouveau produits remarquables       61651 non-null int64
Libell√© du nouveau produits remarquables    61651 non-null object
Code de la section CTCI                     61651 non-null object
Libell√© de la section CTCI                  61651 non-null object
Code de la division CTCI                    61651 non-null object
Libell√© de la division CTCI                 61649 non-null object
Code du groupe CTCI                         61651 non-null object
Libell√© du groupe CTCI                      61649 non-null object
Continent                                   61651 non-null object
Libell√© du pays                             61651 non-null object
Code du flux                                61651 non-null int64
Libell√© du flux                             61651 non-null object
Valeur DHS Janvier 2018                     61651 non-null float64
Valeur DHS F√©vrier 2018                     61651 non-null float64
Valeur DHS Mars 2018                        61651 non-null float64
Valeur DHS Avril 2018                       61651 non-null float64
Valeur DHS Mai 2018                         61651 non-null float64
Valeur DHS Juin 2018                        61651 non-null float64
Valeur DHS Juillet 2018                     61651 non-null float64
Valeur DHS Aout 2018                        61651 non-null float64
Valeur DHS Septembre 2018                   61651 non-null float64
Valeur DHS Octobre 2018                     61651 non-null float64
Valeur DHS Novembre 2018                    61651 non-null float64
Valeur DHS D√©cembre 2018                    61651 non-null float64
Valeur DHS Janvier 2019                     61651 non-null float64
Valeur DHS F√©vrier 2019                     61651 non-null float64
Valeur DHS Mars 2019                        61651 non-null float64
Valeur DHS Avril 2019                       61651 non-null float64
Valeur DHS Mai 2019                         61651 non-null float64
Valeur DHS Juin 2019                        61651 non-null float64
Valeur DHS Juillet 2019                     61651 non-null float64
Valeur DHS Aout 2019                        61651 non-null float64
Valeur DHS Septembre 2019                   61651 non-null float64
Valeur DHS Octobre 2019                     61651 non-null float64
Valeur DHS Novembre 2019                    61651 non-null float64
Valeur DHS D√©cembre 2019                    61651 non-null float64
Valeur DHS Janvier 2020                     61651 non-null float64
Valeur DHS F√©vrier 2020                     61651 non-null float64
Valeur DHS Mars 2020                        61651 non-null float64
Valeur DHS Avril 2020                       61651 non-null float64
Valeur DHS Mai 2020                         61651 non-null float64
Valeur DHS Juin 2020                        61651 non-null float64
Valeur DHS Juillet 2020                     61651 non-null float64
Valeur DHS Aout 2020                        61651 non-null float64
Valeur DHS Septembre 2020                   61651 non-null float64
Valeur DHS Octobre 2020                     61651 non-null float64
Valeur DHS Novembre 2020                    61651 non-null float64
Valeur DHS D√©cembre 2020                    61651 non-null float64
Valeur DHS Janvier 2021                     61651 non-null float64
Valeur DHS F√©vrier 2021                     61651 non-null float64
Valeur DHS Mars 2021                        61651 non-null float64
Valeur DHS Avril 2021                       61651 non-null float64
Valeur DHS Mai 2021                         61651 non-null float64
Valeur DHS Juin 2021                        61651 non-null float64
dtypes: float64(42), int64(3), object(11)
memory usage: 26.3+ MB

# 2. Handling  missing values

In [5]:
dataframe.isnull().sum()

Code du groupement d'utilisation            0
Libell√© du groupement d'utilisation         0
Code du nouveau produits remarquables       0
Libell√© du nouveau produits remarquables    0
Code de la section CTCI                     0
Libell√© de la section CTCI                  0
Code de la division CTCI                    0
Libell√© de la division CTCI                 2
Code du groupe CTCI                         0
Libell√© du groupe CTCI                      2
Continent                                   0
Libell√© du pays                             0
Code du flux                                0
Libell√© du flux                             0
Valeur DHS Janvier 2018                     0
Valeur DHS F√©vrier 2018                     0
Valeur DHS Mars 2018                        0
Valeur DHS Avril 2018                       0
Valeur DHS Mai 2018                         0
Valeur DHS Juin 2018                        0
Valeur DHS Juillet 2018                     0
Valeur DHS Aout 2018                        0
Valeur DHS Septembre 2018                   0
Valeur DHS Octobre 2018                     0
Valeur DHS Novembre 2018                    0
Valeur DHS D√©cembre 2018                    0
Valeur DHS Janvier 2019                     0
Valeur DHS F√©vrier 2019                     0
Valeur DHS Mars 2019                        0
Valeur DHS Avril 2019                       0
Valeur DHS Mai 2019                         0
Valeur DHS Juin 2019                        0
Valeur DHS Juillet 2019                     0
Valeur DHS Aout 2019                        0
Valeur DHS Septembre 2019                   0
Valeur DHS Octobre 2019                     0
Valeur DHS Novembre 2019                    0
Valeur DHS D√©cembre 2019                    0
Valeur DHS Janvier 2020                     0
Valeur DHS F√©vrier 2020                     0
Valeur DHS Mars 2020                        0
Valeur DHS Avril 2020                       0
Valeur DHS Mai 2020                         0
Valeur DHS Juin 2020                        0
Valeur DHS Juillet 2020                     0
Valeur DHS Aout 2020                        0
Valeur DHS Septembre 2020                   0
Valeur DHS Octobre 2020                     0
Valeur DHS Novembre 2020                    0
Valeur DHS D√©cembre 2020                    0
Valeur DHS Janvier 2021                     0
Valeur DHS F√©vrier 2021                     0
Valeur DHS Mars 2021                        0
Valeur DHS Avril 2021                       0
Valeur DHS Mai 2021                         0
Valeur DHS Juin 2021                        0
dtype: int64


‚ñ∂ **Pour** *Libell√© de la division CTCI* **et** *Libell√© du groupe CTCI* <br>
> On va remplacer les valeurs manquantes manuellement √† l'aide des colonnes Code correspondant

In [6]:
#qui sont les indices des valeures manquantes
print('pour la variable: Libell√© du groupe CTCI :\t \t',dataframe[dataframe['Libell√© du groupe CTCI'].isnull()].index.tolist(),
      '\npour la variable: Libell√© de la division CTCI :\t\t',dataframe[dataframe['Libell√© de la division CTCI'].isnull()].index.tolist())

pour la variable: Libell√© du groupe CTCI :	 	 [5186, 5969]
pour la variable: Libell√© de la division CTCI :		 [5186, 5969]

In [7]:
#checking what's happening there
print(dataframe['Libell√© du groupe CTCI'][5186],dataframe['Code du groupe CTCI'][5186],'\n',
      dataframe['Libell√© du groupe CTCI'][5969],dataframe['Code du groupe CTCI'][5969])

nan 34
 nan 34

In [8]:
print(dataframe['Libell√© de la division CTCI'][5186],dataframe['Code de la division CTCI'][5186],'\n',
      dataframe['Libell√© de la division CTCI'][5969],dataframe['Code de la division CTCI'][5969])

nan 3
 nan 3

In [9]:
c,i=0,70
while(c<=6):
  i+=1
  if i !=5969 and i != 5186:
    if dataframe['Code du groupe CTCI'][i]==34:
      dataframe['Libell√© du groupe CTCI'][5186]=dataframe['Libell√© du groupe CTCI'][i]
      dataframe['Libell√© du groupe CTCI'][5969]=dataframe['Libell√© du groupe CTCI'][i]
      c+=1
    if dataframe['Code de la division CTCI'][i]==3:
      dataframe['Libell√© de la division CTCI'][5186]=dataframe['Libell√© de la division CTCI'][i]
      dataframe['Libell√© de la division CTCI'][5969]=dataframe['Libell√© de la division CTCI'][i]
      c+=1

C:\Users\hp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\hp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\hp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [10]:
dataframe.isnull().sum().sum()

0

üéâü•≥ NOIICE , no more missing values

Let's delete now some useless columns (the columns of code ...)

In [11]:
dataframe.drop(dataframe.columns[[0,2,3,4,6,8,12]],1, inplace=True)

voici la form de notre base de donn√©es

In [12]:
dataframe.columns

Index(['Libell√© du groupement d'utilisation', 'Libell√© de la section CTCI',
       'Libell√© de la division CTCI', 'Libell√© du groupe CTCI', 'Continent',
       'Libell√© du pays', 'Libell√© du flux', 'Valeur DHS Janvier 2018',
       'Valeur DHS F√©vrier 2018', 'Valeur DHS Mars 2018',
       'Valeur DHS Avril 2018', 'Valeur DHS Mai 2018', 'Valeur DHS Juin 2018',
       'Valeur DHS Juillet 2018', 'Valeur DHS Aout 2018',
       'Valeur DHS Septembre 2018', 'Valeur DHS Octobre 2018',
       'Valeur DHS Novembre 2018', 'Valeur DHS D√©cembre 2018',
       'Valeur DHS Janvier 2019', 'Valeur DHS F√©vrier 2019',
       'Valeur DHS Mars 2019', 'Valeur DHS Avril 2019', 'Valeur DHS Mai 2019',
       'Valeur DHS Juin 2019', 'Valeur DHS Juillet 2019',
       'Valeur DHS Aout 2019', 'Valeur DHS Septembre 2019',
       'Valeur DHS Octobre 2019', 'Valeur DHS Novembre 2019',
       'Valeur DHS D√©cembre 2019', 'Valeur DHS Janvier 2020',
       'Valeur DHS F√©vrier 2020', 'Valeur DHS Mars 2020',
       'Valeur DHS Avril 2020', 'Valeur DHS Mai 2020', 'Valeur DHS Juin 2020',
       'Valeur DHS Juillet 2020', 'Valeur DHS Aout 2020',
       'Valeur DHS Septembre 2020', 'Valeur DHS Octobre 2020',
       'Valeur DHS Novembre 2020', 'Valeur DHS D√©cembre 2020',
       'Valeur DHS Janvier 2021', 'Valeur DHS F√©vrier 2021',
       'Valeur DHS Mars 2021', 'Valeur DHS Avril 2021', 'Valeur DHS Mai 2021',
       'Valeur DHS Juin 2021'],
      dtype='object')

# 3. Extraction de sous base de donn√©es

> ### ‚úî Flux & countries

In [13]:
new_df=dataframe[dataframe.columns[5:]]
new_df.to_csv('new_df.csv',index=False)
new_df.head()

,Libell√© du pays,Libell√© du flux,Valeur DHS Janvier 2018,Valeur DHS F√©vrier 2018,Valeur DHS Mars 2018,Valeur DHS Avril 2018,Valeur DHS Mai 2018,Valeur DHS Juin 2018,Valeur DHS Juillet 2018,Valeur DHS Aout 2018,...,Valeur DHS Septembre 2020,Valeur DHS Octobre 2020,Valeur DHS Novembre 2020,Valeur DHS D√©cembre 2020,Valeur DHS Janvier 2021,Valeur DHS F√©vrier 2021,Valeur DHS Mars 2021,Valeur DHS Avril 2021,Valeur DHS Mai 2021,Valeur DHS Juin 2021
0,CONGO,Exportations FAB,70020.000,168350.000,0.000,0.0,0.000,0.0,0.0,0.0,...,0.0,0.0,96200.0,0.000,0.000,0.0,0.0,0.0,0.0,0.0
1,NIGERIA,Exportations FAB,425387.000,161192.500,0.000,62437.5,0.000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000,652186.000,1176807.8,192400.0,0.0,0.0,0.0
2,KAZAKHSTAN,Exportations FAB,108225.000,0.000,0.000,0.0,0.000,0.0,0.0,0.0,...,0.0,275664.0,1321247.0,168350.000,288363.000,0.0,245592.0,0.0,0.0,0.0
3,ITALIE,Exportations FAB,5636520.434,2573814.994,852133.806,0.0,2633496.431,0.0,178650.0,377795.0,...,0.0,0.0,0.0,1872443.446,7238766.578,0.0,0.0,0.0,1056352.0,2.0
4,CANADA,Exportations FAB,0.000,0.000,0.000,0.0,36393.000,0.0,0.0,0.0,...,18979.0,15273.0,0.0,0.000,0.000,121193.0,0.0,0.0,0.0,0.0

In [14]:
flux=new_df.groupby(['Libell√© du pays','Libell√© du flux']).sum()
flux=flux.transpose()
#flux['Date']=pd.date_range(start='2018-01-01', periods=42,freq='M')
flux.set_index(pd.date_range(start='2018-01-01', periods=42,freq='M'),inplace=True)
flux.head()

Libell√© du pays      AFGHANISTAN                   \
Libell√© du flux Exportations FAB Importations CAF
2018-01-31                   0.0              0.0
2018-02-28                   0.0              0.0
2018-03-31             1075705.0              0.0
2018-04-30                   0.0              0.0
2018-05-31                   0.0          25371.0

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  sans paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays                                                                                           \
Libell√© du flux R√©exportations en suite d'admission temporaire pour perfectionnement actif avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                819385.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays   AFRIQUE DU SUD                   \
Libell√© du flux Exportations FAB Importations CAF
2018-01-31          2.963012e+07     1.143497e+08
2018-02-28          2.168777e+07     1.778038e+08
2018-03-31          3.342333e+07     3.289373e+07
2018-04-30          2.078962e+07     5.505742e+07
2018-05-31          4.081473e+07     4.519970e+07

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  avec paiement
2018-01-31                                               2203468.0
2018-02-28                                              52803495.0
2018-03-31                                              24985665.0
2018-04-30                                              30476224.0
2018-05-31                                              25647291.0

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  sans paiement
2018-01-31                                                199456.0
2018-02-28                                                 68023.0
2018-03-31                                                250694.0
2018-04-30                                                585773.0
2018-05-31                                                484073.0

Libell√© du pays                                                                                           \
Libell√© du flux R√©exportations en suite d'admission temporaire pour perfectionnement actif avec paiement
2018-01-31                                             7816646.000
2018-02-28                                             3386914.600
2018-03-31                                             6107447.105
2018-04-30                                             7242430.000
2018-05-31                                             5504645.730

Libell√© du pays  ...  \
Libell√© du flux  ...
2018-01-31       ...
2018-02-28       ...
2018-03-31       ...
2018-04-30       ...
2018-05-31       ...

Libell√© du pays                                                                                    YEMEN  \
Libell√© du flux R√©exportations en suite d'admission temporaire pour perfectionnement actif sans paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays     YOUGOUSLAVIE                            ZAMBIE  \
Libell√© du flux Exportations FAB Importations CAF Exportations FAB
2018-01-31                   0.0              0.0              0.0
2018-02-28                   0.0              0.0              0.0
2018-03-31                   0.0              0.0          53412.0
2018-04-30                   0.0           5011.0          84380.0
2018-05-31                   0.0           1000.0              0.0

Libell√© du pays                   \
Libell√© du flux Importations CAF
2018-01-31             1413261.0
2018-02-28                   0.0
2018-03-31             6808168.0
2018-04-30                   0.0
2018-05-31                6521.0

Libell√© du pays                                                                                  \
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                               6808168.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays                                                                                           \
Libell√© du flux R√©exportations en suite d'admission temporaire pour perfectionnement actif avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

Libell√© du pays         ZIMBABWE                   \
Libell√© du flux Exportations FAB Importations CAF
2018-01-31                   0.0             21.0
2018-02-28                   0.0              0.0
2018-03-31              378119.0              0.0
2018-04-30                   0.0              0.0
2018-05-31                   0.0          58003.0

Libell√© du pays
Libell√© du flux Importations en admission temporaire pour perfectionnement actif  avec paiement
2018-01-31                                                     0.0
2018-02-28                                                     0.0
2018-03-31                                                     0.0
2018-04-30                                                     0.0
2018-05-31                                                     0.0

[5 rows x 985 columns]

In [15]:
flux.isnull().sum().sum()

0

> ### ‚úî Groupement d'utilisation

In [16]:
dataframe['Valeur Total']=dataframe[dataframe.columns[7:]].sum(axis=1)
dataframe.head(1)

,Libell√© du groupement d'utilisation,Libell√© de la section CTCI,Libell√© de la division CTCI,Libell√© du groupe CTCI,Continent,Libell√© du pays,Libell√© du flux,Valeur DHS Janvier 2018,Valeur DHS F√©vrier 2018,Valeur DHS Mars 2018,...,Valeur DHS Octobre 2020,Valeur DHS Novembre 2020,Valeur DHS D√©cembre 2020,Valeur DHS Janvier 2021,Valeur DHS F√©vrier 2021,Valeur DHS Mars 2021,Valeur DHS Avril 2021,Valeur DHS Mai 2021,Valeur DHS Juin 2021,Valeur Total
0,"ALIMENTATION, BOISSONS ET TABACS",PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,L√âGUMES ET FRUITS,"FRUITS, M√äME √Ä COQUE (√Ä L¬øEXCLUSION DES FRUITS...",AFRIQUE,CONGO,Exportations FAB,70020.0,168350.0,0.0,...,0.0,96200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1007201.5

In [17]:
new_df1=dataframe[dataframe.columns[:7]]
new_df1['Total dh']=dataframe['Valeur Total']
new_df1.to_csv('Export_total.csv', index=False)
new_df1.head(2)

C:\Users\hp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Libell√© du groupement d'utilisation,Libell√© de la section CTCI,Libell√© de la division CTCI,Libell√© du groupe CTCI,Continent,Libell√© du pays,Libell√© du flux,Total dh
0,"ALIMENTATION, BOISSONS ET TABACS",PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,L√âGUMES ET FRUITS,"FRUITS, M√äME √Ä COQUE (√Ä L¬øEXCLUSION DES FRUITS...",AFRIQUE,CONGO,Exportations FAB,1007201.5
1,"ALIMENTATION, BOISSONS ET TABACS",PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,L√âGUMES ET FRUITS,"FRUITS, M√äME √Ä COQUE (√Ä L¬øEXCLUSION DES FRUITS...",AFRIQUE,NIGERIA,Exportations FAB,3858549.8

In [18]:
new_df1.groupby(["Libell√© du groupement d'utilisation"]).sum().head(20)

                                                  Total dh
Libell√© du groupement d'utilisation
ALIMENTATION, BOISSONS ET TABACS              4.407621e+11
DEMI  PRODUITS                                8.945092e+11
ENERGIE  ET  LUBRIFIANTS                      2.547111e+11
OR INDUSTRIEL                                 2.453125e+09
PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  8.173197e+10
PRODUITS BRUTS D'ORIGINE MINERALE             1.164993e+11
PRODUITS FINIS D'EQUIPEMENT AGRICOLE          7.369060e+09
PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        9.141132e+11
PRODUITS FINIS DE CONSOMMATION                1.042161e+12

In [19]:
new_df1.groupby(['Libell√© du pays',"Libell√© du groupement d'utilisation"]).sum().head(6)

                                                                  Total dh
Libell√© du pays Libell√© du groupement d'utilisation
AFGHANISTAN     ALIMENTATION, BOISSONS ET TABACS              1.091860e+07
                DEMI  PRODUITS                                5.776000e+03
                PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  4.251125e+06
                PRODUITS FINIS DE CONSOMMATION                1.368589e+06
AFRIQUE DU SUD  ALIMENTATION, BOISSONS ET TABACS              1.414582e+09
                DEMI  PRODUITS                                1.311651e+09

In [20]:
new_df1.groupby(['Libell√© du flux',"Libell√© du groupement d'utilisation"]).sum().head(10)

                                                                   Total dh
Libell√© du flux  Libell√© du groupement d'utilisation
Exportations FAB ALIMENTATION, BOISSONS ET TABACS              1.998778e+11
                 DEMI  PRODUITS                                2.138336e+11
                 ENERGIE  ET  LUBRIFIANTS                      9.379041e+09
                 OR INDUSTRIEL                                 1.614490e+09
                 PRODUITS BRUTS D'ORIGINE ANIMALE ET VEGETALE  2.058247e+10
                 PRODUITS BRUTS D'ORIGINE MINERALE             4.726345e+10
                 PRODUITS FINIS D'EQUIPEMENT AGRICOLE          4.900290e+08
                 PRODUITS FINIS D'EQUIPEMENT INDUSTRIEL        1.955631e+11
                 PRODUITS FINIS DE CONSOMMATION                2.874920e+11
Importations CAF ALIMENTATION, BOISSONS ET TABACS              1.809376e+11

> ### ‚úî division CTCI

In [21]:
new_df1.groupby(["Libell√© de la division CTCI"]).sum().sort_values('Total dh', ascending=False).head(3)

                                                        Total dh
Libell√© de la division CTCI
MACHINES ET APPAREILS √âLECTRIQUES, N.D.A., ET L...  5.223035e+11
V√âHICULES ROUTIERS (M√äME √Ä COUSSIN D¬øAIR)           4.467940e+11
ENGRAIS (AUTRES QUE CEUX DU GROUPE 272)             2.293673e+11

> ### ‚úî Continent

In [22]:
new_df1.groupby(["Continent"]).sum().max()

Total dh    2.571543e+12
dtype: float64

In [23]:
new_df1.groupby(["Continent","Libell√© du groupement d'utilisation"]).sum().head(3)

                                                   Total dh
Continent Libell√© du groupement d'utilisation
AFRIQUE   ALIMENTATION, BOISSONS ET TABACS     4.441974e+10
          DEMI  PRODUITS                       6.984079e+10
          ENERGIE  ET  LUBRIFIANTS             2.380866e+10