#1. Exploring Data

In [292]:
import numpy as np 
import pandas as pd

In [293]:
path='https://raw.githubusercontent.com/Hamid-abdellaoui/Morocco_Exchange_VIZ/master/Data/ExportData.csv'
dataframe = pd.read_csv(path,sep=';',decimal=',')
dataframe.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Code du groupement d'utilisation  ... Valeur DHS Juin 2021
0                                 1  ...                  0.0
1                                 1  ...                  0.0
2                                 1  ...                  0.0
3                                 1  ...                  2.0
4                                 1  ...                  0.0

[5 rows x 56 columns]

In [294]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61651 entries, 0 to 61650
Data columns (total 56 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Code du groupement d'utilisation          61651 non-null  int64
 1   Libellé du groupement d'utilisation       61651 non-null  object
 2   Code du nouveau produits remarquables     61651 non-null  int64
 3   Libellé du nouveau produits remarquables  61651 non-null  object
 4   Code de la section CTCI                   61651 non-null  object
 5   Libellé de la section CTCI                61651 non-null  object
 6   Code de la division CTCI                  61651 non-null  object
 7   Libellé de la division CTCI               61649 non-null  object
 8   Code du groupe CTCI                       61651 non-null  object
 9   Libellé du groupe CTCI                    61649 non-null  object
 10  Continent                                 61651 non-null  object
 11  Libellé du pays                           61651 non-null  object
 12  Code du flux                              61651 non-null  int64
 13  Libellé du flux                           61651 non-null  object
 14  Valeur DHS Janvier 2018                   61651 non-null  float64
 15  Valeur DHS Février 2018                   61651 non-null  float64
 16  Valeur DHS Mars 2018                      61651 non-null  float64
 17  Valeur DHS Avril 2018                     61651 non-null  float64
 18  Valeur DHS Mai 2018                       61651 non-null  float64
 19  Valeur DHS Juin 2018                      61651 non-null  float64
 20  Valeur DHS Juillet 2018                   61651 non-null  float64
 21  Valeur DHS Aout 2018                      61651 non-null  float64
 22  Valeur DHS Septembre 2018                 61651 non-null  float64
 23  Valeur DHS Octobre 2018                   61651 non-null  float64
 24  Valeur DHS Novembre 2018                  61651 non-null  float64
 25  Valeur DHS Décembre 2018                  61651 non-null  float64
 26  Valeur DHS Janvier 2019                   61651 non-null  float64
 27  Valeur DHS Février 2019                   61651 non-null  float64
 28  Valeur DHS Mars 2019                      61651 non-null  float64
 29  Valeur DHS Avril 2019                     61651 non-null  float64
 30  Valeur DHS Mai 2019                       61651 non-null  float64
 31  Valeur DHS Juin 2019                      61651 non-null  float64
 32  Valeur DHS Juillet 2019                   61651 non-null  float64
 33  Valeur DHS Aout 2019                      61651 non-null  float64
 34  Valeur DHS Septembre 2019                 61651 non-null  float64
 35  Valeur DHS Octobre 2019                   61651 non-null  float64
 36  Valeur DHS Novembre 2019                  61651 non-null  float64
 37  Valeur DHS Décembre 2019                  61651 non-null  float64
 38  Valeur DHS Janvier 2020                   61651 non-null  float64
 39  Valeur DHS Février 2020                   61651 non-null  float64
 40  Valeur DHS Mars 2020                      61651 non-null  float64
 41  Valeur DHS Avril 2020                     61651 non-null  float64
 42  Valeur DHS Mai 2020                       61651 non-null  float64
 43  Valeur DHS Juin 2020                      61651 non-null  float64
 44  Valeur DHS Juillet 2020                   61651 non-null  float64
 45  Valeur DHS Aout 2020                      61651 non-null  float64
 46  Valeur DHS Septembre 2020                 61651 non-null  float64
 47  Valeur DHS Octobre 2020                   61651 non-null  float64
 48  Valeur DHS Novembre 2020                  61651 non-null  float64
 49  Valeur DHS Décembre 2020                  61651 non-null  float64
 50  Valeur DHS Janvier 2021                   61651 non-null  float64
 51  Valeur DHS Février 2021                   61651 non-null  float64
 52  Valeur DHS Mars 2021                      61651 non-null  float64
 53  Valeur DHS Avril 2021                     61651 non-null  float64
 54  Valeur DHS Mai 2021                       61651 non-null  float64
 55  Valeur DHS Juin 2021                      61651 non-null  float64
dtypes: float64(42), int64(3), object(11)
memory usage: 26.3+ MB

# 2. Handling  missing values

In [295]:
dataframe.isnull().sum()

Code du groupement d'utilisation            0
Libellé du groupement d'utilisation         0
Code du nouveau produits remarquables       0
Libellé du nouveau produits remarquables    0
Code de la section CTCI                     0
Libellé de la section CTCI                  0
Code de la division CTCI                    0
Libellé de la division CTCI                 2
Code du groupe CTCI                         0
Libellé du groupe CTCI                      2
Continent                                   0
Libellé du pays                             0
Code du flux                                0
Libellé du flux                             0
Valeur DHS Janvier 2018                     0
Valeur DHS Février 2018                     0
Valeur DHS Mars 2018                        0
Valeur DHS Avril 2018                       0
Valeur DHS Mai 2018                         0
Valeur DHS Juin 2018                        0
Valeur DHS Juillet 2018                     0
Valeur DHS Aout 2018                        0
Valeur DHS Septembre 2018                   0
Valeur DHS Octobre 2018                     0
Valeur DHS Novembre 2018                    0
Valeur DHS Décembre 2018                    0
Valeur DHS Janvier 2019                     0
Valeur DHS Février 2019                     0
Valeur DHS Mars 2019                        0
Valeur DHS Avril 2019                       0
Valeur DHS Mai 2019                         0
Valeur DHS Juin 2019                        0
Valeur DHS Juillet 2019                     0
Valeur DHS Aout 2019                        0
Valeur DHS Septembre 2019                   0
Valeur DHS Octobre 2019                     0
Valeur DHS Novembre 2019                    0
Valeur DHS Décembre 2019                    0
Valeur DHS Janvier 2020                     0
Valeur DHS Février 2020                     0
Valeur DHS Mars 2020                        0
Valeur DHS Avril 2020                       0
Valeur DHS Mai 2020                         0
Valeur DHS Juin 2020                        0
Valeur DHS Juillet 2020                     0
Valeur DHS Aout 2020                        0
Valeur DHS Septembre 2020                   0
Valeur DHS Octobre 2020                     0
Valeur DHS Novembre 2020                    0
Valeur DHS Décembre 2020                    0
Valeur DHS Janvier 2021                     0
Valeur DHS Février 2021                     0
Valeur DHS Mars 2021                        0
Valeur DHS Avril 2021                       0
Valeur DHS Mai 2021                         0
Valeur DHS Juin 2021                        0
dtype: int64


▶ **Pour** *Libellé de la division CTCI* **et** *Libellé du groupe CTCI* <br>
> On va remplacer les valeurs manquantes manuellement

In [296]:
#qui sont les indices des valeures manquantes
print('pour la variable: Libellé du groupe CTCI :\t \t',dataframe[dataframe['Libellé du groupe CTCI'].isnull()].index.tolist(),
      '\npour la variable: Libellé de la division CTCI :\t\t',dataframe[dataframe['Libellé de la division CTCI'].isnull()].index.tolist())

pour la variable: Libellé du groupe CTCI :	 	 [5186, 5969]
pour la variable: Libellé de la division CTCI :		 [5186, 5969]

In [299]:
#checking what's happening there
print(dataframe['Libellé du groupe CTCI'][5186],dataframe['Code du groupe CTCI'][5186],'\n',
      dataframe['Libellé du groupe CTCI'][5969],dataframe['Code du groupe CTCI'][5969])

nan 34
 nan 34

In [300]:
print(dataframe['Libellé de la division CTCI'][5186],dataframe['Code de la division CTCI'][5186],'\n',
      dataframe['Libellé de la division CTCI'][5969],dataframe['Code de la division CTCI'][5969])

nan 3
 nan 3

In [305]:
c,i=0,70
while(c<=2):
  i+=1
  if i !=5969 and i != 5186:
    if dataframe['Code du groupe CTCI'][i]==34:
      dataframe['Libellé du groupe CTCI'][5186]=dataframe['Libellé du groupe CTCI'][i]
      dataframe['Libellé du groupe CTCI'][5969]=dataframe['Libellé du groupe CTCI'][i]
      c+=1
    if dataframe['Code de la division CTCI'][i]=='3':
      dataframe['Libellé de la division CTCI'][5186]=dataframe['Libellé de la division CTCI'][i]
      dataframe['Libellé de la division CTCI'][5969]=dataframe['Libellé de la division CTCI'][i]
      c+=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [306]:
dataframe.isnull().sum().sum()

0

🎉🥳 NOIICE , no more missing values

In [307]:
dataframe.drop(dataframe.columns[[0,2,3,4,6,8,12]],1, inplace=True)

In [308]:
dataframe.columns

Index(['Libellé du groupement d'utilisation', 'Libellé de la section CTCI',
       'Libellé de la division CTCI', 'Libellé du groupe CTCI', 'Continent',
       'Libellé du pays', 'Libellé du flux', 'Valeur DHS Janvier 2018',
       'Valeur DHS Février 2018', 'Valeur DHS Mars 2018',
       'Valeur DHS Avril 2018', 'Valeur DHS Mai 2018', 'Valeur DHS Juin 2018',
       'Valeur DHS Juillet 2018', 'Valeur DHS Aout 2018',
       'Valeur DHS Septembre 2018', 'Valeur DHS Octobre 2018',
       'Valeur DHS Novembre 2018', 'Valeur DHS Décembre 2018',
       'Valeur DHS Janvier 2019', 'Valeur DHS Février 2019',
       'Valeur DHS Mars 2019', 'Valeur DHS Avril 2019', 'Valeur DHS Mai 2019',
       'Valeur DHS Juin 2019', 'Valeur DHS Juillet 2019',
       'Valeur DHS Aout 2019', 'Valeur DHS Septembre 2019',
       'Valeur DHS Octobre 2019', 'Valeur DHS Novembre 2019',
       'Valeur DHS Décembre 2019', 'Valeur DHS Janvier 2020',
       'Valeur DHS Février 2020', 'Valeur DHS Mars 2020',
       'Valeur DHS Avril 2020', 'Valeur DHS Mai 2020', 'Valeur DHS Juin 2020',
       'Valeur DHS Juillet 2020', 'Valeur DHS Aout 2020',
       'Valeur DHS Septembre 2020', 'Valeur DHS Octobre 2020',
       'Valeur DHS Novembre 2020', 'Valeur DHS Décembre 2020',
       'Valeur DHS Janvier 2021', 'Valeur DHS Février 2021',
       'Valeur DHS Mars 2021', 'Valeur DHS Avril 2021', 'Valeur DHS Mai 2021',
       'Valeur DHS Juin 2021'],
      dtype='object')

# 3. Extraction de sous base de données

> ### ✔ Flux & countries

In [309]:
new_df=dataframe[dataframe.columns[5:]]
new_df.head()

  Libellé du pays   Libellé du flux  ...  Valeur DHS Mai 2021  Valeur DHS Juin 2021
0           CONGO  Exportations FAB  ...                  0.0                   0.0
1         NIGERIA  Exportations FAB  ...                  0.0                   0.0
2      KAZAKHSTAN  Exportations FAB  ...                  0.0                   0.0
3          ITALIE  Exportations FAB  ...            1056352.0                   2.0
4          CANADA  Exportations FAB  ...                  0.0                   0.0

[5 rows x 44 columns]

In [310]:
flux=new_df.groupby(['Libellé du pays','Libellé du flux']).sum()
flux=flux.transpose()
flux['Date']=pd.date_range(start='2018-01-01', periods=42,freq='M')
flux.set_index('Date',inplace=True)
flux.head()

Libellé du pays      AFGHANISTAN  ...                                                                        ZIMBABWE
Libellé du flux Exportations FAB  ... Importations en admission temporaire pour perfectionnement actif  avec paiement
Date                              ...
2018-01-31                   0.0  ...                                                0.0
2018-02-28                   0.0  ...                                                0.0
2018-03-31             1075705.0  ...                                                0.0
2018-04-30                   0.0  ...                                                0.0
2018-05-31                   0.0  ...                                                0.0

[5 rows x 985 columns]

> ### ✔ Groupement d'utilisation
> ### ✔ division CTCI
> ### ✔ Continent
> ### ✔ Somme (all dates)